<div class="container-fluid" layout="column"> 
<!--md-selected="tCtrl.currentTab"-->
	<md-tabs  md-selected="2"
		md-stretch-tabs="always" class="height100perc">
		<md-tab label="Start">
			<md-content class="md-padding pad50">
				<div layout="row" class="mrg50t">
					<div layout="column" flex="100" layout-align="center center">
						<h1 class="blue-grey">Help us!</h1>
					</div>
				</div>
				<div layout="row" class="mrg20t center-align">
					<div layout="column" flex="100" layout-align="center center">
						<i class="size-128 icon-scoreboard"></i>
					</div>
				</div>
				<div layout="row" class="mrg20t">
					<div layout="column" flex="100" layout-align="center center" class="center-align">
						Thank you for landing here! Your contibution will be really valuable to us!<br>
						Here you are called to build a custom template for your game!
						<md-button aria-label="create template template" class="mrg20t md-accent md-raised" ng-click="tCtrl.currentTab = 1">
							Let's start!
						</md-button>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="Select a game" ng-disabled="tCtrl.currentTab < 1">
			<md-content class="md-padding">
				<div layout="row">
					<div layout="column" flex="100">
						<md-autocomplete
							md-selected-item="tCtrl.boardgame"
							md-selected-item-change="tCtrl.getCurrentTemplates(tCtrl.boardgame)"
							md-search-text="tCtrl.boardgameSearchText"
							md-items="boardgame in tCtrl.querySearchBoardgames(tCtrl.boardgameSearchText)"
							md-item-text="boardgame.name"
							md-min-length="2"
							placeholder="Select a boardgame">
								<md-item-template>
									<md-list-item class="item-title">
										<img ng-src="{{boardgame.thumbnail}}?100" class="md-avatar" alt="{{boardgame.name}}" />
										<span  md-highlight-text="tCtrl.boardgameSearchText" md-highlight-flags="^i">{{boardgame.name}}</span>
									</md-list-item>
								</md-item-template>
								<md-not-found>
									No boardgame matching "{{tCtrl.boardgameSearchText}}" were found.
								</md-not-found>
						  </md-autocomplete>
					</div>
				</div>
				<div layout="row">
					<div layout="column" flex="100">
						<div layout="row" class="height75perc overflowScroll">
							<md-list flex ng-if="tCtrl.templates.length > 0">
								<md-list-item
									class=" md-1-line animate-repeat whiteBg mrg5t mrg5r shadowed-box" 
									ng-repeat-start="template in tCtrl.templates | orderBy:'-votes'"
									ng-click="tCtrl.setVisible($index)">
									<div layout="column" flex="50">
										<div layout="row">
											<h3 ng-if="template.name.length > 0">{{template.name}}</h3>

										</div>
									</div>
																
									<div layout="column" flex="50">
										<md-button ng-if="template.has_expansions" ng-disabled="true" class="md-primary">WITH EXPANSIONS</md-button>
									</div>
								</md-list-item>
								<md-list-item layout="row" ng-repeat-end ng-repeat="(key,scoring_field) in template.scoring_fields"  ng-if="template.visible"
								class="md-1-line animate-repeat whiteBg mrg5r shadowed-box">
									<div layout="column" flex="50">
										<div layout="row">
											{{scoring_field.name[lang]}}
										</div>
									</div>
									<div layout="column" flex="50" layout-align="center end">
										<div layout="row">
											points: {{scoring_field.bonus}}
										</div>
									</div>
								</md-list-item>
							</md-list>
							<div layout="column" flex="100" layout-align="center center" ng-if="tCtrl.templates.length == 0">
								<h2 class="blue-grey">No template to show!</h2>
							</div>
						</div>
						<div layout="row" class="mrg20t" layout-align="end center">
							<md-button aria-label="add template" class="md-accent md-raised" ng-if="tCtrl.boardgame" ng-click="tCtrl.currentTab = 2">
								Add new template
							</md-button>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="Build your template" ng-disabled="tCtrl.currentTab < 2">
			<md-content class="md-padding">
				<div class="md-dialog-content">
					<div layout="row" class="size-16 blue-grey center-align" layout-align="center center">
						<h2>We are going to require you a little effort...but after that you can freely play whenever you want!!<br>Please fulfill all the following fields</h2>
					</div>

					<div layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						SELECT THE TYPE OF GAME
					</div>
					<div layout="row">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setGameType('cooperative')" layout-align="center center">
							<div layout="row">COOPERATIVE</div>
							<div layout="row"><i>Pandemic, Zombicide, The Game</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setGameType('competitive')" layout-align="center center">
							<div layout="row">COMPETITIVE</div>
							<div layout="row"><i>Ticket to ride, codenames, 7 wonders</i></div>
						</div>
					</div>

					<div ng-if="tCtrl.postValues.gameType == 'competitive'" layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						WHAT DO YOU MEAN?
					</div>
					<div layout="row" ng-if="tCtrl.postValues.gameType == 'competitive'">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setPlayersOrganization('team based')" layout-align="center center">
							<div layout="row">TEAM BASED</div>
							<div layout="row"><i>Codenames, Crazy cart</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable" ng-click="tCtrl.setPlayersOrganization('all vs all')" layout-align="center center">
							<div layout="row">ALL VS ALL</div>
							<div layout="row"><i>Vudù, Saboteur, Libertalia</i></div>
						</div>
					</div>

					<div ng-if="tCtrl.postValues.playersOrganization != ''" layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						HOW MANY ROUNDS ARE THERE?
					</div>
					<div layout="row" ng-if="tCtrl.postValues.playersOrganization != ''">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable" ng-click="tCtrl.setRoundOrganization('round based')" layout-align="center center">
							<div layout="row">MORE THAN 1</div>
							<div layout="row"><i>Libertalia, 7 Wonders, Dobble</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable" ng-click="tCtrl.setRoundOrganization('single round')" layout-align="center center">
							<div layout="row">ONLY ONE</div>
							<div layout="row"><i>Catan, Agricola</i></div>
						</div>
					</div>

					<div ng-if="tCtrl.postValues.roundOrganization != ''" layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						HOW DO YOU KEEP TRACK OF ROUND WINNERS?
					</div>
					<div layout="row" class="mrg10t" ng-if="tCtrl.postValues.roundOrganization != ''">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setHowToScore('win/lose')" layout-align="center center">
							<div layout="row">WIN/LOSE GAME</div>
							<div layout="row"><i>Dobble, Exploding kittens</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setHowToScore('points based')" layout-align="center center">
							<div layout="row">POINTS BASED</div>
							<div layout="row"><i>Vudù, Carcassone</i></div>
						</div>
					</div>

					<div ng-if="tCtrl.postValues.howToScore != ''" layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						WHO WINS AT THE END?
					</div>
					<div layout="row" class="mrg10t" ng-if="tCtrl.postValues.howToScore != ''">
						<div 
						layout="column" 
						flex 
						class="md-body-2 whiteBg shadowed-box pad20 clickable"  
						ng-click="tCtrl.setHowToWin('most rounds')" 
						layout-align="center center" 
						ng-class="{primaryBg: tCtrl.postValues.howToWin == 'most rounds'}"
						ng-if="tCtrl.postValues.roundOrganization == 'round based'">
							<div layout="row">WHO WINS MORE ROUND</div>
							<div layout="row"><i>Dobble</i></div>
						</div>
						<div 
						layout="column" 
						flex 
						class="md-body-2 whiteBg shadowed-box pad20 clickable"  
						ng-class="{primaryBg: tCtrl.postValues.howToWin == 'more points'}"
						ng-click="tCtrl.setHowToWin('more points')" 
						layout-align="center center" 
						ng-if="tCtrl.postValues.howToScore == 'points based'">
							<div layout="row">WHO HAS MORE POINTS AT THE END</div>
							<div layout="row"><i>Vudù, Saboteur, Libertalia</i></div>
						</div>
						<div
						layout="column" 
						flex 
						class="md-body-2 whiteBg shadowed-box pad20 clickable"  
						ng-click="tCtrl.setHowToWin('less points')"
						ng-class="{primaryBg: tCtrl.postValues.howToWin == 'less points'}"
						layout-align="center center" 
						ng-if="tCtrl.postValues.howToScore == 'points based'">
							<div layout="row">WHO HAS LESS POINTS AT THE END</div>
							<div layout="row"><i>...</i></div>
						</div>
					</div>


					<div ng-if="tCtrl.pointsbased == 1 && tCtrl.mostpointswin != undefined" layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						WRITE HEAR THE SPECIFIC WAYS IN WHICH YOU CAN SCORE POINTS!
					</div>
					<div ng-if="tCtrl.pointsbased == 1 && tCtrl.mostpointswin != undefined" layout="row"  class="pad20 whiteBg shadowed-box">
						<div layout="column" flex="100">
							<div layout="row" class="md-body-1 mrg20b">
								3 POINTS FOR EACH MONEY? 10 POINTS FOR THE LONGEST TRAIN? -3 FOR EACH MASK? THIS IS WHAT WE WANT TO KNOW HERE!
							</div>

							<div layout="row" ng-repeat="i in tCtrl.range(0,tCtrl.countInsertedWords())">
								<div layout="column" flex="50">
									<md-input-container class="templateEntryContainer md-block" >
										<label class="size-14 md-body-1">Scoring way number {{i+1}}</label>
										<input  ng-model="tCtrl.dictionary[i]">
									</md-input-container>
								</div>
								<div layout="column" flex="45"  class="mrg10l">
									<md-slider ng-model="tCtrl.points[i]" min="-100" max="100"></md-slider>
								</div>
								<div layout="column" flex="5">
									<md-input-container class="detailedPointsContainer md-block" >
								 		<input type="number" ng-model="tCtrl.points[i]" aria-label="red" aria-controls="red-slider">
									</md-input-container>
								</div>
							</div>

						</div>
					</div>


					<div ng-if="false" layout="row" class="md-body-2 mrg10t" md-colors="{color: 'myTheme-accent'}">
						GIVE YOUR TEMPLATE A MEMORABLE NAME!
					</div>
					<div ng-if="false" layout="row" class="size-16 blue-grey pad20 mrg10t whiteBg shadowed-box">
						<md-input-container layour="column" flex=100>
							<label class="size-18">Template name</label>
							<input  ng-model="tCtrl.name">
						</md-input-container>
					</div>
				</div>

				<div layout="column" flex>
					<div layout="row" layout-align="end center">
						<md-button ng-disabled="mdCdtl.saving" aria-label="post match" class="md-fab size-24" ng-click="tCtrl.postTemplate()">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row" class="icon-check-2" aria-hidden="true" >
								</div>
							</div>
						</md-button>
						
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="End" ng-disabled="tCtrl.currentTab < 3">
			<md-content class="md-padding">
				<div layout="row" class="mrg50t">
					<div layout="column" flex="100" layout-align="center center">
						<h1 class="blue-grey">Thank you!</h1>
					</div>
				</div>
				<div layout="row" class="mrg20t center-align">
					<div layout="column" flex="100" layout-align="center center">
						<i class="size-128 icon-fi-dancing-people"></i>
					</div>
				</div>
				<div layout="row" class="mrg20t center-align">
					<div layout="column" flex="100" layout-align="center center">
						You have successfully created your template!<br>
						Now you can go and use it to score your matches!<br>
						Remember to upvote it!
						<md-button aria-label="create template template" class="mrg20t md-accent md-raised" ng-click="tCtrl.currentTab = 1">
							Let's start!
						</md-button>
					</div>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</div>