<div class="container-fluid" layout="column"> 
<!--md-selected="tCtrl.currentTab"-->
	<md-tabs  md-selected="2"
		md-stretch-tabs="always" class="height100perc">
		<md-tab label="Start">
			<md-content class="md-padding pad50">
				<div layout="row" class="mrg50t">
					<div layout="column" flex="100" layout-align="center center">
						<h1 class="blue-grey">Help us!</h1>
					</div>
				</div>
				<div layout="row" class="mrg20t center-align">
					<div layout="column" flex="100" layout-align="center center">
						<i class="size-128 icon-scoreboard"></i>
					</div>
				</div>
				<div layout="row" class="mrg20t">
					<div layout="column" flex="100" layout-align="center center" class="center-align">
						Thank you for landing here! Your contibution will be really valuable to us!<br>
						Here you are called to build a custom template for your game!
						<md-button aria-label="create template template" class="mrg20t md-accent md-raised" ng-click="tCtrl.currentTab = 1">
							Let's start!
						</md-button>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="Select a game" ng-disabled="tCtrl.currentTab < 1">
			<md-content class="md-padding">
				<div layout="row">
					<div layout="column" flex="100">
						<md-autocomplete
							md-selected-item="tCtrl.boardgame"
							md-selected-item-change="tCtrl.getCurrentTemplates(tCtrl.boardgame)"
							md-search-text="tCtrl.boardgameSearchText"
							md-items="boardgame in tCtrl.querySearchBoardgames(tCtrl.boardgameSearchText)"
							md-item-text="boardgame.name"
							md-min-length="2"
							placeholder="Select a boardgame">
								<md-item-template>
									<md-list-item class="item-title">
										<img ng-src="{{boardgame.thumbnail}}?100" class="md-avatar" alt="{{boardgame.name}}" />
										<span  md-highlight-text="tCtrl.boardgameSearchText" md-highlight-flags="^i">{{boardgame.name}}</span>
									</md-list-item>
								</md-item-template>
								<md-not-found>
									No boardgame matching "{{tCtrl.boardgameSearchText}}" were found.
								</md-not-found>
						  </md-autocomplete>
					</div>
				</div>
				<div layout="row">
					<div layout="column" flex="100">
						<div layout="row" class="height75perc overflowScroll">
							<md-list flex ng-if="tCtrl.templates.length > 0">
								<md-list-item
									class=" md-1-line animate-repeat whiteBg mrg5t mrg5r shadowed-box" 
									ng-repeat-start="template in tCtrl.templates | orderBy:'-votes'"
									ng-click="tCtrl.setVisible($index)">
									<div layout="column" flex="50">
										<div layout="row">
											<h3 ng-if="template.name.length > 0">{{template.name}}</h3>

										</div>
									</div>
																
									<div layout="column" flex="50">
										<md-button ng-if="template.has_expansions" ng-disabled="true" class="md-primary">WITH EXPANSIONS</md-button>
									</div>
								</md-list-item>
								<md-list-item layout="row" ng-repeat-end ng-repeat="(key,scoring_field) in template.scoring_fields"  ng-if="template.visible"
								class="md-1-line animate-repeat whiteBg mrg5r shadowed-box">
									<div layout="column" flex="50">
										<div layout="row">
											{{scoring_field.name[lang]}}
										</div>
									</div>
									<div layout="column" flex="50" layout-align="center end">
										<div layout="row">
											points: {{scoring_field.bonus}}
										</div>
									</div>
								</md-list-item>
							</md-list>
							<div layout="column" flex="100" layout-align="center center" ng-if="tCtrl.templates.length == 0">
								<h2 class="blue-grey">No template to show!</h2>
							</div>
						</div>
						<div layout="row" class="mrg20t" layout-align="end center">
							<md-button aria-label="add template" class="md-accent md-raised" ng-if="tCtrl.boardgame" ng-click="tCtrl.currentTab = 2">
								Add new template
							</md-button>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="Build your template" ng-disabled="tCtrl.currentTab < 2">
			<md-content class="md-padding">
				<div class="md-dialog-content">
					<div layout="row" class="md-body-2 mrg50b mrg50t">
						<div layout="column" class="md-body-2 pad10 clickable" layout-align="center start">
							Summary:
						</div>
						<div layout="column" class="md-body-2 whiteBg shadowed-box pad10 clickable" flex layout-align="center center" ng-click="tCtrl.setGameType('')">
							{{tCtrl.postValues.gameType}}
						</div>
						<div layout="column" class="md-body-2 whiteBg shadowed-box pad10 clickable" flex layout-align="center center" ng-click="tCtrl.setPlayersOrganization('')">
							{{tCtrl.postValues.playersOrganization}}
						</div>
						<div layout="column" class="md-body-2 whiteBg shadowed-box pad10 clickable" flex layout-align="center center" ng-click="tCtrl.setRoundOrganization('')">
							{{tCtrl.postValues.roundOrganization}}
						</div>
						<div layout="column" class="md-body-2 whiteBg shadowed-box pad10 clickable" flex layout-align="center center" ng-click="tCtrl.setHowToScore('')">
							{{tCtrl.postValues.howToScore}}
						</div>
						<div layout="column" class="md-body-2 whiteBg shadowed-box pad10 clickable" flex layout-align="center center" ng-click="tCtrl.setHowToWin('')">
							{{tCtrl.postValues.howToWin}}
						</div>
						<div layout="column">
							<div layout="row" layout-align="end center" ng-if="tCtrl.postValues.howToWin != ''">
								<md-button ng-disabled aria-label="post match" class="md-fab size-24" ng-click="tCtrl.postTemplate()">
									<div layout="column" class="pad3l pad2b" flex layout-align="center center">
										<div layout="row" class="icon-check-2" aria-hidden="true" >
										</div>
									</div>
								</md-button>
								
							</div>
						</div>
					</div>




					<div 
						layout="row"
						class="md-body-2 mrg20b" 
						md-colors="{color: 'myTheme-accent'}" 
						ng-if="tCtrl.postValues.gameType == ''"
						layout-align="center center">
						<h3>SELECT THE TYPE OF GAME</h3>
					</div>
					<div layout="row" ng-if="tCtrl.postValues.gameType == ''">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setGameType('cooperative')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.gameType == 'cooperative'}">
							<h3 layout="row">COOPERATIVE</h3>
							<div layout="row" class="center-align">All the players play together to achieve a common goal! By definition it is considered a team based game in which all players team together</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row" class="center-align"><i>Examples: Pandemic, Zombicide, The Game</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setGameType('competitive')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.gameType == 'competitive'}">
							<h3 layout="row">COMPETITIVE</h3>
							<div layout="row" ng-if="tCtrl.postValues.gameType == ''" class="center-align">The players are require to play alone or in teams!</div>
							<div layout="row" ng-if="tCtrl.postValues.gameType == ''" class="center-align">IMG</div>
							<div layout="row" ng-if="tCtrl.postValues.gameType == ''"><i>Ticket to ride, codenames, 7 wonders</i></div>
						</div>
					</div>









					<div ng-if="tCtrl.postValues.gameType != '' && tCtrl.postValues.playersOrganization == ''" layout="row" class="md-body-2  mrg20b " md-colors="{color: 'myTheme-accent'}"
						layout-align="center center">
						<h3>WHAT DO YOU MEAN?</h3>	
					</div>
					<div layout="row" ng-if="tCtrl.postValues.gameType != '' && tCtrl.postValues.playersOrganization == ''">
						<div layout="column" flex class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setPlayersOrganization('team based')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.playersOrganization == 'team based'}">
							<div layout="row">TEAM BASED</div>
							<div layout="row" class="center-align">Select this, if the game requires users to be split in teams, both defined or hidden. A cooperative game is team based by definition: all of you, against the game</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row" ><i>Codenames, Resistance, Crazy cart</i></div>
						</div>
						<div layout="column" flex class="md-body-2 whiteBg shadowed-box pad20 clickable" ng-click="tCtrl.setPlayersOrganization('all vs all')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.playersOrganization == 'all vs all'}" ng-if="tCtrl.postValues.gameType != 'cooperative'">
							<div layout="row">ALL VS ALL</div>
							<div layout="row" class="center-align">Everyone plays for himself and at the end there is a single winner (except for parity cases)!</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row"><i>Vudù, Saboteur, Libertalia</i></div>
						</div>
					</div>











					<div ng-if="tCtrl.postValues.playersOrganization != '' && tCtrl.postValues.roundOrganization == ''" layout="row" class="md-body-2  mrg20b " md-colors="{color: 'myTheme-accent'}"
						layout-align="center center">
						<h3>HOW MANY ROUNDS ARE THERE?</h3>
						
					</div>
					<div layout="row" ng-if="tCtrl.postValues.playersOrganization != '' && tCtrl.postValues.roundOrganization == ''">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable" ng-click="tCtrl.setRoundOrganization('round based')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.roundOrganization == 'round based'}">
							<div layout="row">MORE THAN 1</div>
							<div layout="row" class="center-align">A game has more round (eras, turns, stages etc.) if its rules assess it. If you decide to play five matches to a given game, they must be considered different matches, not single rounds.</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row"><i>Libertalia, 7 Wonders, Dobble</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable" ng-click="tCtrl.setRoundOrganization('single round')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.roundOrganization == 'single round'}">
							<div layout="row">ONLY ONE</div>
							<div layout="row" class="center-align">A single round match starts and ends without being subdivided into atomic steps.</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row"><i>Catan, Agricola</i></div>
						</div>
					</div>













					<div ng-if="tCtrl.postValues.roundOrganization != '' && tCtrl.postValues.howToScore == ''" layout="row" class="md-body-2  mrg20b " md-colors="{color: 'myTheme-accent'}"
						layout-align="center center">
						<h3>HOW DO YOU KEEP TRACK OF ROUND WINNERS?</h3>
						
					</div>
					<div layout="row" ng-if="tCtrl.postValues.roundOrganization != '' && tCtrl.postValues.howToScore == ''" class="">
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setHowToScore('win/lose')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.howToScore == 'win/lose'}">
							<div layout="row">WIN/LOSE GAME</div>
							<div layout="row" class="center-align">In this kind of game there are no points. You simply win a match or lose it. Select this voice if you don't know how to score points in your game</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row"><i>Dobble, Exploding kittens</i></div>
						</div>
						<div layout="column" flex="50" class="md-body-2 whiteBg shadowed-box pad20 clickable"  ng-click="tCtrl.setHowToScore('points based')" layout-align="center center" ng-class="{primaryBg: tCtrl.postValues.howToScore == 'points based'}">
							<div layout="row">POINTS BASED</div>
							<div layout="row" class="center-align">This kind of game rely on a point system.</div>
							<div layout="row" class="center-align">IMG</div>
							<div layout="row"><i>Vudù, Carcassone</i></div>
						</div>
					</div>












					<div ng-if="tCtrl.postValues.howToScore != '' && tCtrl.postValues.howToWin == ''" layout="row" class="md-body-2  mrg20b" md-colors="{color: 'myTheme-accent'}"
						layout-align="center center">
						<h3>WHO WINS AT THE END?</h3>
						
					</div>
					<div layout="row" ng-if="tCtrl.postValues.howToScore != '' && tCtrl.postValues.howToWin == ''">
						<div 
						layout="column" 
						flex 
						class="md-body-2 whiteBg shadowed-box pad20 clickable"  
						ng-click="tCtrl.setHowToWin('most rounds')" 
						layout-align="center center" 
						ng-class="{primaryBg: tCtrl.postValues.howToWin == 'most rounds'}"
						ng-if="tCtrl.postValues.roundOrganization == 'round based'">
							<div layout="row">WHO WINS MORE ROUND</div>
							<div layout="row" ng-if="tCtrl.postValues.howToWin == ''"><i>Dobble</i></div>
						</div>
						<div 
						layout="column" 
						flex 
						class="md-body-2 whiteBg shadowed-box pad20 clickable"  
						ng-class="{primaryBg: tCtrl.postValues.howToWin == 'more points'}"
						ng-click="tCtrl.setHowToWin('more points')" 
						layout-align="center center" 
						ng-if="tCtrl.postValues.howToScore == 'points based'">
							<div layout="row">WHO HAS MORE POINTS AT THE END</div>
							<div layout="row" ng-if="tCtrl.postValues.howToWin == ''"><i>Vudù, Saboteur, Libertalia</i></div>
						</div>
						<div
						layout="column" 
						flex 
						class="md-body-2 whiteBg shadowed-box pad20 clickable"  
						ng-click="tCtrl.setHowToWin('less points')"
						ng-class="{primaryBg: tCtrl.postValues.howToWin == 'less points'}"
						layout-align="center center" 
						ng-if="tCtrl.postValues.howToScore == 'points based'">
							<div layout="row">WHO HAS LESS POINTS AT THE END</div>
							<div layout="row" ng-if="tCtrl.postValues.howToWin == ''" ><i>...</i></div>
						</div>
					</div>











					<div ng-if="tCtrl.postValues.howToScore == 'points based' && tCtrl.postValues.howToWin != ''" layout="row" class="md-body-2 mrg20t mrg20b" md-colors="{color: 'myTheme-accent'}"
						layout-align="center center">
						<h3>WRITE HEAR THE SPECIFIC WAYS IN WHICH YOU CAN SCORE POINTS!</h3>
						
					</div>
					<div ng-if="tCtrl.postValues.howToScore == 'points based' && tCtrl.postValues.howToWin != ''" layout="row"  class="pad20 whiteBg shadowed-box">
						<div layout="column" flex="100">
							<div layout="row" class="md-body-1 mrg20b">
								3 POINTS FOR EACH MONEY? 10 POINTS FOR THE LONGEST TRAIN? -3 FOR EACH MASK? THIS IS WHAT WE WANT TO KNOW HERE!
							</div>

							<div layout="row" ng-repeat="i in tCtrl.range(0,tCtrl.countInsertedWords())">
								<div layout="column" flex="50">
									<md-input-container class="templateEntryContainer md-block" >
										<label class="size-14 md-body-1">Scoring way number {{i+1}}</label>
										<input  ng-model="tCtrl.dictionary[i]">
									</md-input-container>
								</div>
								<div layout="column" flex="45"  class="mrg10l">
									<md-slider ng-model="tCtrl.points[i]" min="-100" max="100"></md-slider>
								</div>
								<div layout="column" flex="5">
									<md-input-container class="detailedPointsContainer md-block" >
								 		<input type="number" ng-model="tCtrl.points[i]" aria-label="red" aria-controls="red-slider">
									</md-input-container>
								</div>
							</div>

						</div>
					</div>

					<div ng-if="tCtrl.postValues.playersOrganization == 'team based' && tCtrl.postValues.howToWin != ''" layout="row" class="md-body-2 mrg20t mrg20b" md-colors="{color: 'myTheme-accent'}" layout-align="center center">
						<h3>TEAMS HAVE SPECIFIC NAMES? TELL US!</h3>
					</div>
					<div ng-if="tCtrl.postValues.playersOrganization == 'team based' && tCtrl.postValues.howToWin != ''" layout="row" class="pad20 whiteBg">
						<div layout="column" flex="95" layout-align="center end" class="md-body-2">HOW MANY TEAMS ARE THERE?</div>
						<div layout="column" flex="5" layout-align="center end">
							<md-input-container class="detailedPointsContainer md-block" >
								<input type="number" ng-model="tCtrl.postValues.nteams" aria-label="red" aria-controls="red-slider">
							</md-input-container>
						</div>
					</div>
					<div ng-if="tCtrl.postValues.playersOrganization == 'team based' && tCtrl.postValues.howToWin != ''" layout="row" class="pad20 whiteBg">
						<div layout="column" flex layout-align="center start" class="md-body-2">GIVE THEM A NAME</div>
					</div>
					<div ng-if="tCtrl.postValues.playersOrganization == 'team based' && tCtrl.postValues.howToWin != ''" layout="row">
						<div layout="column" class="pad20 whiteBg shadowed-box" flex ng-repeat="i in tCtrl.range(0,tCtrl.postValues.nteams-1)">
							<md-input-container class="templateEntryContainer md-block" >
								<label class="size-14 md-body-1">Team {{i+1}}</label>
								<input  ng-model="tCtrl.teams[i]">
							</md-input-container>
						</div>
						<div layout="column" class="pad20 whiteBg shadowed-box" flex layout-align="center center" ng-if="tCtrl.postValues.gameType == 'cooperative'">
							The game
						</div>
					</div>







					<div ng-if="false" layout="row" class="md-body-2  mrg20b" md-colors="{color: 'myTheme-accent'}"
						layout-align="center center">
						<h3>GIVE YOUR TEMPLATE A MEMORABLE NAME!</h3>
						
					</div>
					<div ng-if="false" layout="row" class="size-16 blue-grey pad20 whiteBg shadowed-box">
						<md-input-container layour="column" flex=100>
							<label class="size-18">Template name</label>
							<input  ng-model="tCtrl.name">
						</md-input-container>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="End" ng-disabled="tCtrl.currentTab < 3">
			<md-content class="md-padding">
				<div layout="row" class="mrg50t">
					<div layout="column" flex="100" layout-align="center center">
						<h1 class="blue-grey">Thank you!</h1>
					</div>
				</div>
				<div layout="row" class="mrg20t center-align">
					<div layout="column" flex="100" layout-align="center center">
						<i class="size-128 icon-fi-dancing-people"></i>
					</div>
				</div>
				<div layout="row" class="mrg20t center-align">
					<div layout="column" flex="100" layout-align="center center">
						You have successfully created your template!<br>
						Now you can go and use it to score your matches!<br>
						Remember to upvote it!
						<md-button aria-label="create template template" class="mrg20t md-accent md-raised" ng-click="tCtrl.currentTab = 1">
							Let's start!
						</md-button>
					</div>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</div>