<div class="container-fluid" layout-padding layout="column">
	<div layout="row">
		<div layout="column" flex="noshrink">
			<div layout="row" class="height30" flex="none">
				<div layout="column" flex="100">
					<h3 class="blue-grey">Favourite games ({{fCtrl.favourites.length}})</h3>
				</div>
			</div>
			<div layout="row" flex="noshrink">
				<md-grid-list 
				md-cols-xs="2" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="4"
				md-row-height="1:1"
				md-gutter="12px" md-gutter-gt-sm="10px" flex
				>
					<md-grid-tile md-colors="{background: 'myTheme-accent'}">
						<div layout="column">
							<div layout="row" layout-align="center center"><i class="size-72 fi-plus"></i></div>
							<div layout="row">Add favorite</div>
						</div>
					</md-grid-tile>	
					
					<md-grid-tile ng-click="goTo('boardgames/'+boardgame.pk)" ng-repeat="boardgame in fCtrl.favourites" alt="{{boardgame.title}}" back-img="{{boardgame.img}}">
						<md-grid-tile-header layout-align="end center" class="pad5r">
						<i class="fa fa-heart shadowed fa-2x" md-colors="{color:'myTheme-accent'}"></i>
					  </md-grid-tile-header>
					  <md-grid-tile-footer md-colors="{background: 'myTheme-primary'}">
						<h3>{{boardgame.title}}</h3>
					  </md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list>
			</div>
		</div>
	</div>
</div>