<div class="container-fluid pad20l pad20t pad20r" layout="column" ng-cloak>
	<div layout="row" flex="none" class="height300 mrg10b mrg10r">
		<div layout="column" flex="none">
			<div class="circleBase imgBoardgame hideScrollbar shadowed-box">
				<div class="circleBase imgBoardgame" layout-align="center center" back-img="{{mCtrl.match.boardgame_details.img}}">
					<div class="circleBase" style="font-size:50px;"></div>
				</div>
			</div>
		</div>
		<div layout="column" class="blue-grey pad20l" flex="100">
			<div layout="row" class="shadowed-box whiteBg pad20l mrg10b height60">
				<div ng-if="!mCtrl.editMode" layout="column" flex="50"  layout-align="center start">
					<h2 ng-if="mCtrl.match.name.length == 0"> Match {{mCtrl.match.pk}}</h2>
					<h2 ng-if="mCtrl.match.name.length > 0">{{mCtrl.match.name}}</h2>
				</div>
				<div ng-if="mCtrl.editMode" layout="column" flex="50">
					<md-input-container>
							<label class="size-18">Match name</label>
							<input ng-model="mCtrl.match.new_name">
					</md-input-container>
				</div>
				<div 
				layout="column" 
				flex="50" 
				class="pad10r clickable" 
				layout-align="center end">
					<i 
					ng-if="!mCtrl.editMode" 
					class="size-18 icon-pencil blue-grey"
					ng-click="mCtrl.startEditMode()"
					></i>
					<div layout="row">
						<i 
						ng-if="mCtrl.editMode" 
						class="size-18 icon-check-2"
						ng-click="mCtrl.endEditMode(true)"
						md-colors="{color: 'myTheme-primary'}"></i>
						<i 
						ng-if="mCtrl.editMode" 
						class="pad10l size-18 icon-close-round blue-grey"
						ng-click="mCtrl.endEditMode(false)"></i>
						<i 
						ng-if="mCtrl.editMode" 
						class="pad10l size-18 icon-trash"
						md-colors="{color: 'myTheme-accent'}"
						ng-click="mCtrl.deleteMatchPopup($event)"></i>
					</div>
				</div>
			</div>
			<div layout="row" id="info_container">
				<div layout="column" flex="100">
					<div layout="row" class="size-14 mrg10b">
						<div 
							layout="column" 
							flex="50" 
							class="shadowed-box whiteBg pad10l height60 clickable" 
							ng-click="goTo('boardgames/'+mCtrl.match.boardgame)">
							<div layout="row" class="height100perc">
								
								<div layout="column" flex="80" layout-align="center center" >
									<h3>{{mCtrl.match.boardgame_details.title}}</h3>
								</div>
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-puzzle-piece" md-colors="{color: 'myTheme-accent'}" ></i>
								</div>
							</div>
						</div>

						<div layout="column" 
							flex="50" 
							class="shadowed-box whiteBg pad10l height60 clickable mrg10l">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-hourglass" md-colors="{color: 'myTheme-accent'}" ></i>
								</div>
								<div ng-if="!mCtrl.editMode" layout="column" flex="80" layout-align="center center" >
									<h3>{{mCtrl.match.duration}} min</h3>
								</div>
								<div ng-if="mCtrl.editMode" layout="column" flex="70">
									<md-input-container class="md-block">
										<input type="number" ng-model="mCtrl.match.new_duration" aria-label="red" aria-controls="red-slider">
										<label class="size-16">How long did you play?</label>
									</md-input-container>
								</div>
							</div>
						</div>
					</div>
					<div layout="row" class="size-14 mrg10b">
						<div layout="column" 
							flex="50" 
							class="shadowed-box whiteBg pad10l height60 clickable">
							<div layout="row" class="height100perc">
								<div ng-if="!mCtrl.editMode" layout="column" flex="80" layout-align="center center" >
									<h3>{{mCtrl.match.time | date: "short"}}</h3>
								</div>
								<div ng-if="mCtrl.editMode" layout="column" flex="80">
									<md-input-container>
										<label class="size-16">When?</label>
										<md-datepicker flex ng-model="mCtrl.match.new_time"></md-datepicker>
									</md-input-container>
								</div>
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-calendar" md-colors="{color: 'myTheme-accent'}" ></i>
								</div>
							</div>
						</div>
						<div layout="column" 
							flex="50" 
							class="shadowed-box whiteBg pad10l height60 clickable mrg10l">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-pin" md-colors="{color: 'myTheme-accent'}" ></i>
								</div>
								<div ng-if="!mCtrl.editMode" layout="column" flex="80" layout-align="center center" >
									<h3>{{mCtrl.match.location}}</h3>
								</div>
								<div ng-if="mCtrl.editMode" layout="column" flex="80" >
									<md-input-container>
										<label class="size-16">Where?</label>
										<input ng-model="mCtrl.match.new_location">
									</md-input-container>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div layout="row" flex="none">
		<div layout="column" flex="100">
			<div layout="row" flex-sm="none">
				<h3 class="blue-grey">Leaderboard ({{mCtrl.match.plays_set.length}})</h3>
			</div>	
			<div layout="row" class="overflowScroll height270">			
					<md-list flex>
						<md-list-item
						class=" md-2-line animate-repeat whiteBg mrg5t mrg5r shadowed-box" 
						ng-repeat-start="play in mCtrl.match.plays_set | orderBy:'-points' "
						ng-click="mCtrl.setVisible(play.pk)">
							<img ng-src="{{play.user_details.profile.img}}" class="md-avatar shadowed-box" ng-style="randomColor" alt="{{play.user_details.username}}"/>
							<div layout="column">
								<div layout="row">
									<h3>{{play.user_details.username}}</h3>
								</div>
							</div>
							<div class="md-secondary">
								<strong>{{mCtrl.sumPoints(play.detailedPoints)}}</strong>
							</div>
							
						</md-list-item>
						<md-list-item layout="row" ng-repeat-end ng-repeat="dp in play.detailedPoints" ng-if="play.visible || mCtrl.allVisible"
						class="md-1-line animate-repeat whiteBg mrg5r shadowed-box">
							<div layout="row">
								{{dp.scoringField_details.word_details.word}}
							</div>
							
							<div class="md-secondary" ng-if="!mCtrl.editMode">
								{{dp.detailed_points}}
							</div>
							<div class="md-secondary" ng-if="mCtrl.editMode">
								<md-input-container class="detailedPointsContainer md-block" >
										<input type="number" ng-model="dp.new_detailed_points" aria-label="red" aria-controls="red-slider">
								</md-input-container>
							</div>
						</md-list-item>
				  </md-list>
				</div>
		</div>
	</div>
</div>