*{
	margin:0;
}

#container md-content.md-myTheme-theme{
	background-color:#CFD8DC;
}

.bold{
	font-weight:bold !important;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#logo{
	width:300px;
	height:300px;
}

/*LOGIN SCREEN MANAGMENT*/
#login md-input-container.md-myTheme-theme label, 
#login md-input-container.md-myTheme-theme .md-placeholder,
#login md-input-container.md-myTheme-theme .md-input,
#login md-input-container.md-input-focused .md-input{
    color:#ffffff !important;
    border-color:#ffffff !important;
}
/*end LOGIN SCREEN MANAGMENT*/

/*SIDENAV MANAGMENT*/
#sidebar{
	background-color:rgb(255,255,255);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.50);
}
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 60vw !important;
    max-width: 280px !important;
} 

md-card{
	resize: both !important;
}

.active{
	color:#FF6E40 !important;
}
.active:hover{
	color:#FF6E00 !important;
}
/*end SIDENAV MANAGMENT*/

@media (max-width:600px){
	.height500xs{
		height:500px !important;
	}
	.height500xs{
		height:500px !important;
	}
	.height750xs{
		min-height:750px !important;
	}

	.maxHeight300xs{
		max-height: 300px !important;
	}

	.pad0lxs{
		padding-left: 0px !important;
	}
	.pad10txs{
		padding-top: 10px !important;
	}
	.mrg0lxs{
		margin-left: 0px !important;
	}

}
/*WIDTH & HEIGHT MANAGEMENT*/
.width100perc{
	width:100%;
}
.height100perc{
	height:100%;
}
.height80perc{
	height:80%;
}
.height75perc{
	height:75%;
}
.height70perc{
	height:70%;
}
.height60perc{
	height:60%;
}
.height55perc{
	height:55%;
}
.height50perc{
	height:50%;
}
.height40perc{
	height:40%;
}
.height35perc{
	height:35%;
}
.height30perc{
	height:30%;
}
.height25perc{
	height:25%;
}
.height20perc{
	height:20%;
}
.height10perc{
	height:10%;
}
.height5perc{
	height:5%;
}
.height30{
	height:30px;
}

.height50{
	height:50px;
}
.height60{
	height:60px;
}
.height80{
	height:80px !important;
}
.height100{
	height:100px;
}
.height125{
	height:125px;
}
.height150{
	height:150px;
}
.height200{
	height:200px !important;
}
.height250{
	height:250px;
}
.height270{
	height:280px;
}
.height300{
	height:300px;
}

.height350{
	height:350px;
}
.height450{
	height:450px;
}
.height500{
	height:500px;
}
.height600{
	height:600px;
}
.maxHeight130{
	max-height: 130px;
}
.maxHeight150{
	max-height: 150px;
}
.maxHeight200{
	max-height: 200px;
}

.minHeight248{
	max-height: 500px;
}
/*end HEIGHT MANAGEMENT*/

/*COLORS MANAGEMENT*/
.whiteBg{
	background-color:#ffffff !important;
}

.greyBg{
	background-color:rgb(220,220,220);
}

.whiteTxt{
	color:white !important;
}
/*end COLORS MANAGEMENT*/

/*PADDING and MARGIN MANAGEMENT*/
.pad0{
	padding: 0px !important;
}
.pad0b{
	padding-bottom: 0px !important;
}
.pad1t{
	padding-top: 1px;
}
.pad1b{
	padding-bottom: 1px;
}
.pad2b{
	padding-bottom: 2px;
}
.pad3t{
	padding-top: 3px;
}
.pad3l{
	padding-left: 3px;
}
.pad5{
	padding: 5px;
}
.pad5t{
	padding-top: 5px;
}
.pad5r{
	padding-right: 5px;
}

.pad10{
	padding: 10px;
}
.pad20{
	padding: 20px;
}

.pad10t{
	padding-top: 10px;
}
.pad10b{
	padding-bottom: 10px !important;
}
.pad10l{
	padding-left: 10px;
}
.pad10r{
	padding-right: 10px;
}
.pad15t{
	padding-top: 15px;
}
.pad20t{
	padding-top: 20px;
}
.pad20r{
	padding-right: 20px;
}

.pad20l{
	padding-left: 20px;
}

.pad50{
	padding: 50px !important;
}

.pad50b{
	padding-bottom: 50px !important;
}

.mrg0{
	margin: 0px !important;
}

.mrg5{
	margin: 5px;
}
.mrg10{
	margin: 10px;
}
.mrg16{
	margin: 16px;
}
.mrg20{
	margin: 20px;
}

.mrg0b{
	margin-bottom: 0px !important;
}

.mrg0l{
	margin-left: 0px !important;
}
.mrg5t{
	margin-top: 5px;
}
.mrg5b{
	margin-bottom: 5px;
}
.mrg5r{
	margin-right: 5px;
}
.mrg5l{
	margin-left: 5px;
}
.mrg8t{
	margin-top: 8px;
}
.mrg8b{
	margin-bottom: 8px;
}

.mrg10t{
	margin-top: 10px;
}
.mrg10b{
	margin-bottom: 10px;
}
.mrg10l{
	margin-left: 10px;
}
.mrg10r{
	margin-right: 10px;
}
.mrg16r{
	margin-right: 16px;
}

.mrg20r{
	margin-right: 50px;
}

.mrg20l{
	margin-left: 20px;
}
.mrg20t{
	margin-top: 20px;
}
.mrg20b{
	margin-bottom: 20px;
}
.mrg30b{
	margin-bottom: 30px;
}
.mrg50t{
	margin-top: 50px !important;
}
.mrg50b{
	margin-bottom: 50px !important;
}
.mrg50l{
	margin-left: 50px;
}
/*end PADDING MANAGEMENT*/

/*SIZE MANAGEMENT*/
.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px !important; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px;}

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.size-90 { font-size: 90px; }

.size-128 { font-size: 128px; }
/*end SIZE MANAGEMENT*/

/*COLORS MANAGEMENT*/
.white80perc{
	color: rgba(255,255,255,0.8);
}

.white60perc{
	color: rgba(255,255,255,0.6);
}

.blue-grey{
	color: #37474F;
}

.dark54perc{
	color: rgba(0,0,0,0.54);
}
/*end COLORS MANAGEMENT*/

/*SCROLL BAR MANAGEMENT*/
::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: rgba(255, 158, 128, 0.4);
}  
::-webkit-scrollbar-thumb {  
    background-color: #FF6E40;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #FF3D00; 
}

.overflowScroll{
	overflow-y:auto;
}

/*end SCROLL BAR MANAGEMENT*/

/*OTHER STUFF MANAGEMENT*/
 div:focus, i:focus {
    outline: none;
    border: 0;
 }

.fixed{
	position:fixed;
	top:5px;
	left:340px;
}

.center-align{
	text-align: center;
}


.clickable{
	cursor:pointer;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: inherit;
}

.circleBase {
    border-radius: 50%;
}
.borderWhite{
	border:0px solid #FFFFFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.borderAccent{
	border-bottom:3px solid #FF3D00;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.borderGrey{
	border-bottom:1px solid rgb(220,220,220);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.06);
}

.shadowed{
	text-shadow: -1px 1px 1px #444444;
}

.shadowed-box{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.shadowed-box-right{
	box-shadow: 2px 0px 5px 0 rgba(0,0,0,.86);
}

a.decoNone, .decoNone:active{
    text-decoration:none !important;
    letter-spacing: 1px;
}

a{
	color:rgba(55, 71, 79, 1);
	/*color:rgba(255, 255, 255, 0.7);*/
}

a:hover{
	color:rgba(55, 71, 79, 0.7);
	/*color:rgba(255, 255, 255, 1);*/
}

md-grid-tile:hover{
	box-shadow: 2px 2px 2px #444444;
}

.hideScrollbar{
	overflow:hidden !important;
}

.list-avatar{
background-color:#FF6E40;
height:2.5em;
width: 2.5em;
text-align:center;
}

.blur {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
}

.blackOverlay{
	background-color:rgba(0,0,0,0.5); 
	height:100%;
	width:100%;
}

.detailedPointsContainer{
	margin:0;
	width:50px;
}

.templateEntryContainer{ margin:0; }

.detailedPointsContainer input{
	text-align:right;
}
#container .md-errors-spacer, .detailedPointsContainer .md-errors-spacer, .templateEntryContainer .md-errors-spacer{
	display:none !important;
}

.buttonDisabled{
	color:rgba(0,0,0,0.38);
}

.displayNone{
	display:none !important;
}
/*end OTHER STUFF MANAGEMENT*/

.imgProfileMedium{
	height:8em;
	width: 8em;
	overflow:hidden;
}

.imgProfile{
	height:5em;
	width: 5em;
	overflow:hidden;
}

.imgProfileMini{
	height:40px;
	width: 40px;
	overflow:hidden;
	margin-top: 8px;
	margin-right: 16px;
	margin-bottom: 8px;
}

.imgExpansion{
	height:48px;
	width: 48px;
	overflow:hidden;
}

.imgBoardgame{
    height: 15em;
    width: 15em;
    overflow:hidden;
}

.imgBoardgameMedium{
    height: 10em;
    width: 10em;
    overflow:hidden;
}

.imgBoardgameSmall{
    height: 5em;
    width: 5em;
    overflow:hidden;
}


.imgBoardgameProfile{
    height: 15em;
    width: 15em;
    overflow:hidden;
}

.imgUser{
    height: 12em;
    width: 12em;
    overflow:hidden;
}

/*OVERRIDES*/
md-grid-list md-grid-tile md-grid-tile-header{
	background-color:transparent;
}
md-grid-tile{
	cursor:pointer;
}

md-tooltip{
	font-size: 14px;
}

ng-message{
	color:#FFFFFF;
}
figcaption{
	width:100%;
	height:100%;
}


.matchesDialogTab md-pagination-wrapper {
    width:auto !important;
}

/*
.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
*/
.star-container{
  position:absolute;
  top:9px;
  left:50px;
  width:10.1rem;
  color:#FF3D00;
}
.star-content{
  width:152px;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
	bottom:0;
	right:0;
}
.absolute1{
	position:absolute;
	bottom:-10;
	right:-10;
}
.absolute2{
	position:absolute;
	bottom:0;
	left:0;
}
.absolute3{
	position:absolute;
	bottom:-30;
}


.absolute4{
	position:absolute;
	bottom:-25;
	right:0;
}
.absolute5{
	position:absolute;
	top:-25;
	left:0;
}
.absolute6{
	position:absolute;
	bottom:-25;
	left:0;
}
.absolute7{
	position:absolute;
	top:-25;
	right:0;
}
.absolute8{
	position:absolute;
	top:13;
	left:13;
}

#dialog md-tabs-wrapper{
	/*display: none !important;*/
}

.md-toast-content{
	background-color: rgb(255,61,0) !important;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.contact-item {
    float: left;
    width: 33%;
	box-sizing: border-box;
}
.md-list-item-text{
	text-overflow: ellipsis;
    overflow: hidden;
}

.md-list-item-text h4{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.matchesDialogTab .md-tab {
  min-width: 150px;
}

.atchesDialogTab md-pagination-wrapper{
	width:700px;
}


.clear{
	clear:both;
}
