 <div class="container-fluid" layout="column" ng-cloak>
	<div layout="row" layout-xs="column" flex="noshrink" flex-xs="noshrink" md-colors="{background: 'myTheme-primary'}" class="height100 shadowed-box">
		<div layout="column" class="blue-grey" flex>	
			<div layout="row" class="size-14 pad20">
				<div 
					layout="column" 
					flex="33" 
					class="shadowed-box whiteBg pad10l clickable">
					<div layout="row" class="height100perc">
						<div layout="column" flex="10" layout-align="center center" >
							<i class="size-24 icon-puzzle" md-colors="{color: 'myTheme-accent'}" >
								<md-tooltip md-direction="top" md-delay="200">Match played</md-tooltip>
							</i>
						</div>
						<div layout="column" flex="80" layout-align="center center" >
							<h2>{{profile_stats.match_played}}</h2>
						</div>
					</div> 
				</div>
				<div 
					layout="column" 
					flex="33" 
					class="shadowed-box whiteBg pad10l clickable mrg10l">
					<div layout="row" class="height100perc">
						<div layout="column" flex="20" layout-align="center center" >
							<i class="size-21 icon-trophy-2" md-colors="{color: 'myTheme-accent'}" >
								<md-tooltip md-direction="top" md-delay="200">Match won</md-tooltip>
							</i>
						</div>
						<div layout="column" flex="80" layout-align="center center" >
							<h2>{{profile_stats.match_won}}</h2>
						</div>
						
					</div>
				</div>
				<div 
					layout="column" 
					flex="33" 
					class="shadowed-box whiteBg pad10l clickable mrg10l">
					<div layout="row" class="height100perc">
						<div layout="column" flex="20" layout-align="center center" >
							<i class="size-18 icon-hourglass" md-colors="{color: 'myTheme-accent'}" >
								<md-tooltip md-direction="top" md-delay="200">Minute played</md-tooltip>
							</i>
						</div>
						<div layout="column" flex="80" layout-align="center center" >
							<h2>{{bCtrl.boardgame.playingtime}}250</h2>
						</div>
					</div>	
				</div>			
			</div>
		</div>
	</div>
	<div layout="row" flex="grow">
		<div layout="column" flex="100">
			<md-tabs  md-selected="pCtrl.currT"
			md-stretch-tabs="always" flex id="youAndTabs">
			<md-tab label="Favourites" >
				<md-content class="pad5l pad10t">
					<div layout="row" layout-wrap>
						<div layout="column" class="pad20l pad20t clickable" flex="none" ng-repeat="(key,value) in user.profile_details.favourites"
						ng-click="goTo('boardgames/'+key)">
							<div class="circleBase imgBoardgameProfile hideScrollbar shadowed-box">
								<div class="circleBase imgBoardgameProfile" layout-align="center center" back-img="{{value.image}}">
									<div class="circleBase" style="font-size:50px;"></div>
								</div>
							</div>
							<md-tooltip md-direction="bottom" md-delay="200">{{value.name}}</md-tooltip>
						</div>
						<div layout="column" layout-align="center center" ng-if="(user.profile_details.favourites |keylength) == 0" flex="100">
								<div layout="row" class="size-72 mrg20b">:(</div>
								<div layout="row" class="mrg20b"><h1>You don't have any favourite game</h1></div>
								<div layout="row" class="blue-grey clickable decoNone" ng-click="goTo('boardgames/')"><h2><i class="icon-plus-1 mrg10r"></i>Browse the list and add one of them</h2></div>
						</div>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Stats">
				<md-content>
					<div layout="row">
						<div layout="column" flex="50" class="pad100">
							<div layout="row" class="pad10" layout-align="center center">
								<h2>PLAYED MATCHES</h2>
							</div>
							<div layout="row">
								<canvas class="chart chart-bar height100perc" chart-data="chart.games.values" chart-labels="chart.games.labels" 
								chart-series="series" chart-click="onClick"></canvas>
							</div>
						</div>
						
						<div layout="column" flex="50" class="pad100">
							<div layout="row" class="pad10" layout-align="center center">
								<h2>MINUTES SPENT</h2>
							</div>
							<div layout="row">
								<canvas  id="pie" class="chart chart-pie height100perc" chart-data="chart.companions.values.played" chart-labels="chart.companions.labels"></canvas>
							</div>
							
						</div>
					</div>
					<div layout="row">
						<div layout="column" flex="50" class="pad100">
							<div layout="row" class="pad10" layout-align="center center">
								<h2>PLAYED MATCHES</h2>
							</div>
							<div layout="row">
								<canvas class="chart chart-bar height100perc" chart-data="chart.games.values" chart-labels="chart.games.labels" 
								chart-series="series" chart-click="onClick"></canvas>
							</div>
						</div>
						
						<div layout="column" flex="50" class="pad100">
							<div layout="row" class="pad10" layout-align="center center">
								<h2>MINUTES SPENT</h2>
							</div>
							<div layout="row">
								<canvas  id="pie" class="chart chart-pie height100perc" chart-data="chart.companions.values.played" chart-labels="chart.companions.labels"></canvas>
							</div>
							
						</div>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Friends">
				<md-content>
					<div layout="row" layout-fill layout-padding>
						<div layout="column" flex="100">
							<h3 class="blue-grey pad20t pad5b">Friends</h3>
							<div layout="row" flex="none" class="height100 whiteBg shadowed-box pad10">
								<div layout="column"  class="relative mrg20r clickable" ng-repeat="friend in user.friends |orderObjectBy:username:true:true | filter:{accepted:true}">
									<div id="" class="imgProfile circleBase borderWhite clickable" layout-align="center center" ng-click="goTo('users/'+friend.key)" ng-if="friend.image == ''">
										<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[friend.key] || getRandomColor(friend.key)" alt="profile image">
											<div layout="column" layout-align="center center" class="height100perc white80perc size-36">{{friend.username.substring(0,1).toUpperCase()}}</div>
										 </div>
										<md-tooltip md-direction="bottom" md-delay="200">{{friend.username}}</md-tooltip>
									</div>
									<div class="circleBase imgProfile" layout-align="center center" alt="profile image" back-img="{{friend.image}}" ng-if="friend.image != ''" ng-click="goTo('users/'+friend.key)">
									</div>
									<md-button 
										aria-label="Edit match info" 
										class="md-fab md-mini absolute1">
											{{profile_stats.most_frequent_companion[friend.key].won}} / {{profile_stats.most_frequent_companion[friend.key].amount}}
										<md-tooltip md-direction="bottom" md-delay="200">Won/Played</md-tooltip>
									</md-button>
								</div>
							</div>
							<h3 class="blue-grey pad20t pad5b" ng-if="(user.friends.outbound | countObjectByProperty:'accepted':false) > 0">Outgoing requests  ({{(user.friends.outbound | countObjectByProperty:'accepted':false)}})</h3>
							<div layout="row" flex="none" class="heignt100 whiteBg shadowed-box pad10" ng-if="(user.friends.outbound | countObjectByProperty:'accepted':false) > 0">
								<div layout="column"  class="relative  mrg20r clickable" ng-repeat="(key, friend) in user.friends.outbound" ng-if="!friend.accepted">
									<div id="" class="imgProfile circleBase borderWhite clickable" layout-align="center center" ng-click="goTo('users/'+key)" ng-if="friend.image == ''">
										<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[key] || getRandomColor(key)" alt="profile image">
											<div layout="column" layout-align="center center" class="height100perc white80perc size-36">{{friend.username.substring(0,1).toUpperCase()}}</div>
										 </div>
										<md-tooltip md-direction="bottom" md-delay="200">{{friend.username}}</md-tooltip>
									</div>
									<div class="circleBase imgProfile" layout-align="center center" alt="profile image" back-img="{{friend.image}}" ng-if="friend.image != ''" ng-click="goTo('users/'+key)">
									</div>
									<md-button 
										aria-label="Edit match info" 
										class="md-fab md-mini absolute1">
											{{profile_stats.most_frequent_companion[key].won}} / {{profile_stats.most_frequent_companion[key].amount}}
										<md-tooltip md-direction="bottom" md-delay="200">Won/Played</md-tooltip>
									</md-button>
								</div>
							</div>
							<h3 class="blue-grey pad20t pad5b" ng-if="(user.friends.inbound | countObjectByProperty:'accepted':false) > 0">Incoming requests   ({{(user.friends.inbound | countObjectByProperty:'accepted':false)}})</h3>
							<div layout="row" flex="none" class="heignt100 whiteBg shadowed-box pad10" ng-if="(user.friends.inbound | countObjectByProperty:'accepted':false) > 0">
								<div layout="column"  class="relative clickable mrg20r" ng-repeat="(key, friend) in user.friends.inbound"  ng-if="!friend.accepted">
									<div id="" class="imgProfile circleBase borderWhite clickable" layout-align="center center" ng-click="goTo('users/'+key)" ng-if="friend.image == ''">
										<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[key] || getRandomColor(key)" alt="profile image">
											<div layout="column" layout-align="center center" class="height100perc white80perc size-36">{{friend.username.substring(0,1).toUpperCase()}}</div>
										 </div>
										<md-tooltip md-direction="bottom" md-delay="200">{{friend.username}}</md-tooltip>
									</div>
									<div ng-click="goTo('users/'+key)" class="circleBase imgProfile" layout-align="center center" alt="profile image" back-img="{{friend.image}}" ng-if="friend.image != ''">
									</div>

									<md-button 
										aria-label="Edit match info" 
										class="md-fab md-mini absolute1">
											{{profile_stats.most_frequent_companion[key].won}} / {{profile_stats.most_frequent_companion[key].amount}}
										<md-tooltip md-direction="bottom" md-delay="200">Won/Played</md-tooltip>
									</md-button>
								</div>
							</div>
							<md-button 
				          		aria-label="Boardgames list" 
				          		class="md-fab absolute9 md-raised md-accent" 
								 ng-click="showPopup($event, user.uid, 'friends')">
				            	<i class="icon-plus-1 size-16"></i>
				        	</md-button>
						</div>
					</div>
				</md-content>
			</md-tab>
		</div>
	</div>
</div>