<div class="container-fluid  pad20t height100perc" layout="column" ng-cloak>
	<div layout="row" flex="none" class="height250 pad20l pad20r mrg10b mrg10r">
		<div layout="column" flex="none" layout-align="center center">
			<div layout="row" class="relative" flex="none">
				<div class="circleBase imgUser hideScrollbar shadowed-box" >
					<div class="circleBase imgUser" layout-align="center center" " ng-style="randomColors[user_pk] || getRandomColor(user_pk)" alt="profile image">
						<div layout="column" layout-align="center center" class="height100perc white80perc size-128">{{pCtrl.user.username.substring(0,1).toUpperCase()}}</div>
					</div>
				</div>
				<md-button 
					aria-label="Edit match info" 
					class="md-fab md-mini absolute">
					<i class="icon-pencil">
					</i>
					<md-tooltip md-direction="bottom" md-delay="200">Edit profile picture</md-tooltip>
				</md-button>
			</div>
			<div layout="row" class="mrg10t blue-grey">
				<h1> {{pCtrl.user.username}}</h1>
			</div>
		</div>
		<div layout="column" class="blue-grey pad20l" flex="80">
			<div layout="row">
				<div layout="column" flex="100">
					<div layout="row" class="height30">
						<div layout="column" flex="90" layout-align="center start">
							<h3 class="blue-grey">Your stats</h3>
						</div>
						<div layout="column" flex="10" layout-align="center end">
							<h5 
								class="clickable" 
								md-colors="{color: 'myTheme-accent'}">
								VIEW ALL
							</h5>
						</div>
					</div>
					<div layout="row" class="size-14">
						<div 
							layout="column" 
							flex="33" 
							class="shadowed-box whiteBg pad10l height60 clickable">
							<div layout="row" class="height100perc">
								<div layout="column" flex="10" layout-align="center center" >
									<i class="size-24 icon-puzzle" md-colors="{color: 'myTheme-accent'}" >
										<md-tooltip md-direction="top" md-delay="200">Match played</md-tooltip>
									</i>
								</div>
								<div layout="column" flex="80" layout-align="center center" >
									<h2>{{pCtrl.user.match_played}} match played</h2>
								</div>
							</div>
						</div>
						<div 
							layout="column" 
							flex="33" 
							class="shadowed-box whiteBg pad10l height60 clickable mrg10l">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-21 icon-trophy-2" md-colors="{color: 'myTheme-accent'}" >
										<md-tooltip md-direction="top" md-delay="200">Match won</md-tooltip>
									</i>
								</div>
								<div layout="column" flex="80" layout-align="center center" >
									<h2>{{pCtrl.user.match_won}} match won</h2>
								</div>
								
							</div>
						</div>
						<div 
							layout="column" 
							flex="33" 
							class="shadowed-box whiteBg pad10l height60 clickable mrg10l">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-hourglass" md-colors="{color: 'myTheme-accent'}" >
										<md-tooltip md-direction="top" md-delay="200">Minute played</md-tooltip>
									</i>
								</div>
								<div layout="column" flex="80" layout-align="center center" >
									<h2>{{bCtrl.boardgame.playingtime}} minute played</h2>
								</div>
							</div>	
						</div>
					</div>
					<div layout="row" class="height30 mrg20t">
						<div layout="column" layout-align="center center">
							<h3 class="blue-grey">Your companions</h3>
						</div>
						<div layout="column" class="pad10l pad3t" layout-align="center center">
							<h5 class="clickable" 
								md-colors="{color: 'myTheme-accent'}">
								ADD FRIEND
							</h5>
						</div>
					</div>

					<div layout="row" ng-if="pCtrl.friends.length > 0">
						<div layout="column"  class="relative  mrg20r pad10" ng-repeat="friend in pCtrl.friends">
							<div id="" class="imgProfile circleBase borderWhite clickable" layout-align="center center" ng-click="goTo('users/'+friend.pk)">
								<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[friend.pk] || getRandomColor(friend.pk)" alt="profile image">
									<div layout="column" layout-align="center center" class="height100perc white80perc size-36">{{friend.username.substring(0,1).toUpperCase()}}</div>
								</div>
								<md-tooltip md-direction="bottom" md-delay="200">{{friend.username}}</md-tooltip>
							</div>
							<md-button 
								aria-label="Edit match info" 
								class="md-fab md-mini absolute1">
									{{friend.match_played_with}}
								<md-tooltip md-direction="bottom" md-delay="200">Matches played together</md-tooltip>
							</md-button>
						</div>
					</div>
					<div layout="row" ng-if="pCtrl.friends.length == 0" class="pad20t size-21">
						<strong class="pad10r">): </strong> You seem so lonely! Add a friend!
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-tabs  md-selected="3" flex
	md-stretch-tabs="always">
		<md-tab label="Favourites" >
			<md-content class="pad5l pad10t">
				<div layout="row" layout-wrap>
					<div layout="column" class="pad20l pad20t clickable" flex="none" ng-repeat="f in pCtrl.favourites"
					ng-click="goTo('boardgames/'+f.pk)">
						<div class="circleBase imgBoardgameProfile hideScrollbar shadowed-box">
							<div class="circleBase imgBoardgameProfile" layout-align="center center" back-img="{{f.img}}">
								<div class="circleBase" style="font-size:50px;"></div>
							</div>
						</div>
						<md-tooltip md-direction="bottom" md-delay="200">{{f.title}}</md-tooltip>
					</div>
					<div layout="column" layout-align="center center" ng-if="pCtrl.favourites.length == 0" flex="100">
						  	<div layout="row" class="size-72 mrg20b">:(</div>
						  	<div layout="row" class="mrg20b"><h1>You don't have any favourite game</h1></div>
						  	<div layout="row" class="blue-grey clickable decoNone" ng-click="goTo('boardgames/')"><h2><i class="icon-plus-1 mrg10r"></i>Browse the list and add one of them</h2></div>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="Recents" >
			<md-content class="pad5l pad10t">
				<div layout="row" layout-wrap>
					<div layout="column" class="pad20l pad20t clickable" flex="none" ng-repeat="r in pCtrl.recents" 
					ng-click="goTo('boardgames/'+r.pk)">
						<div class="circleBase imgBoardgameProfile hideScrollbar shadowed-box">
							<div class="circleBase imgBoardgameProfile" layout-align="center center" back-img="{{r.img}}">
								<div class="circleBase" style="font-size:50px;"></div>
							</div>
						<md-tooltip md-direction="bottom" md-delay="200">{{r.title}}</md-tooltip>
						</div>
					</div>
					<div layout="column" layout-align="center center" ng-if="pCtrl.recents.length == 0" flex="100">
					  	<div layout="row" class="size-72 mrg20b">:(</div>
					  	<div layout="row" class="mrg20b"><h1>Hey you! This area seems to be quite empty! Fill it!</h1></div>
					  	<div layout="row" class="blue-grey clickable decoNone" ng-click="matchesPopup($event, user_pk)"><h2><i class="icon-plus-1 mrg10r"></i>Play!</h2></div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="Stats">
			<md-content>
			</md-content>
		</md-tab>
		<md-tab label="Settings" >
			<md-content class="pad20l pad20r">
				<div layout="row" class="pad10t">
					<div 
						layout="column" 
						flex="50" 
						class="shadowed-box whiteBg">
						<div layout="row" class=" mrg16">
							<div layout="column" flex="10" layout-align="center center" >
								<i class="size-24 icon-puzzle" md-colors="{color: 'myTheme-accent'}" >
									<md-tooltip md-direction="top" md-delay="200">aaa</md-tooltip>
								</i>
							</div>
							<div layout="column" flex="70" layout-align="center start" >
								<h2 class="mrg10">
									Personal data
								</h2>
							</div>
							<div layout="column" flex="20" layout-align="center center" ng-show="pCtrl.infoChanged" >
								<md-button class="md-primary" ng-click="pCtrl.save()">Save</md-button>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex class="mrg10l">
								<div layout="row">
									<div layout="column" flex="100">
										<h4 layout="row">
											<md-input-container flex="90">
												<label>First name</label>
												<input ng-model="pCtrl.user.first_name" ng-change="pCtrl.setInfoChanged()" >
											</md-input-container>
										</h4>
									</div>
								</div>
								<div layout="row">
									<div layout="column" flex="100">
										<h4 layout="row">
											<md-input-container flex="90">
												<label>Last name</label>
												<input ng-model="pCtrl.user.last_name" ng-change="pCtrl.setInfoChanged()">
											</md-input-container>
										</h4>
									</div>
								</div>

								<div layout="row">
									<div layout="column" flex="100">
										<h4 layout="row">
											<md-input-container flex="90">
												<label>Email</label>
												<input ng-model="pCtrl.user.email" ng-change="pCtrl.setInfoChanged()">
											</md-input-container>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div 
						layout="column" 
						flex="50" 
						class="shadowed-box whiteBg mrg10l">
						<div layout="row" class=" mrg16">
							<div layout="column" flex="10" layout-align="center center" >
								<i class="size-24 icon-puzzle" md-colors="{color: 'myTheme-accent'}" >
									<md-tooltip md-direction="top" md-delay="200">aaa</md-tooltip>
								</i>
							</div>
							<div layout="column" flex="70" layout-align="center start" >
								<h2 class="mrg10">
									Settings
								</h2>
							</div>
							<div layout="column" flex="20" layout-align="center center" ng-show="pCtrl.infoChanged" >
								<md-button class="md-primary" ng-click="pCtrl.save()">Save</md-button>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex class="mrg10l">
								<div layout="row">
									<div layout="column" flex="100">
										<h4 layout="row">
											<md-input-container flex="90">
												<label>First name</label>
												<input ng-model="pCtrl.user.first_name" ng-change="pCtrl.setInfoChanged()" >
											</md-input-container>
										</h4>
									</div>
								</div>
								<div layout="row">
									<div layout="column" flex="100">
										<h4 layout="row">
											<md-input-container flex="90">
												<label>Last name</label>
												<input ng-model="pCtrl.user.last_name" ng-change="pCtrl.setInfoChanged()">
											</md-input-container>
										</h4>
									</div>
								</div>

								<div layout="row">
									<div layout="column" flex="100">
										<h4 layout="row">
											<md-input-container flex="90">
												<label>Email</label>
												<input ng-model="pCtrl.user.email" ng-change="pCtrl.setInfoChanged()">
											</md-input-container>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
			</md-content>
		</md-tab>
	</md-tabs>
</div>