<div class="container-fluid ng-cloak" layout-padding layout="column" ng-cloak>
	<div layout="row">
		<div layout="column" flex="100">
			<div layout="row" class="height100" >
				<div layout="column" flex="90" >
					<md-input-container class="md-block md-accent">
					  <label>Search boardgame</label>
					  <input ng-model="query">
					</md-input-container>
				</div>
				<div layout="column" flex="10" layout-align="center center"> 
					<md-menu>
						<md-button class="md-fab md-mini" ng-click="$mdOpenMenu(ev)">
							<i class="icon-sort-amount-desc" aria-label="select list ordering"></i>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-button ng-click="msCtrl.setOrderingField('-title')">
									<i class="icon-sort-alpha-asc" md-colors="{color: 'myTheme-accent'}"></i>
									Alphabetical order
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="msCtrl.setOrderingField('lastMatchTime')">
									<i class="icon-clock-o" md-colors="{color: 'myTheme-accent'}"></i>
									Last played
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
			<div layout="row" class="height600">
				<div layout="column" flex="100">
					<md-tabs  md-selected="currentTab"
					md-stretch-tabs="always" class="height100perc" >
						<md-tab label="Programmed matches">
							<md-content>
								<div layout="row" class="overflowScroll">
									<div layout="column" flex="100">
										<md-list 
										ng-show="msCtrl.loaded && filteredGames.length"
										ng-init=$scope>
											<md-list-item
											class=" md-3-line animate-repeat whiteBg mrg5b mrg5r shadowed-box"
											ng-repeat-start="boardgame in filteredGames = (msCtrl.games | filter:{title:query} | filter: msCtrl.timeGreaterThanGame) | orderBy:msCtrl.getOrderingField():true"
											ng-click="msCtrl.setVisible(boardgame.pk)">
												<img ng-src="{{boardgame.thumbnail}}" class="md-avatar" alt="match {{boardgame.title}}" />
												<div layout="column">
													<div layout="row">
														<h3> {{boardgame.title}}</h3>
													</div>
													<div layout="row">
														<i>{{boardgame.matches.length}} matches</i>
													</div>
												</div>
												<i 
												ng-if="boardgame.isFavourite" 
												aria-label="remove favourite"
												class="icon-heart md-secondary"  
												md-colors="{color: 'myTheme-accent'}"
												ng-click="msCtrl.toggleFavourites(boardgame.favourite, boardgame.pk, user_pk, boardgame.listId)">
													<md-tooltip md-direction="left" md-delay="200">Remove favourite</md-tooltip>
												</i>
												<i 
												ng-if="!boardgame.isFavourite" 
												aria-label="add favourite"
												class="icon-heart-o md-secondary" 
												md-colors="{color: 'myTheme-accent'}"
												ng-click="msCtrl.toggleFavourites(boardgame.favourite, boardgame.pk, user_pk, boardgame.listId)">
													<md-tooltip md-direction="left" md-delay="200">Add favourite</md-tooltip>
												</i>
											</md-list-item>
											<md-list-item 
											ng-if="boardgame.visible"
											class=" md-3-line mrg50l whiteBg mrg5b mrg5r shadowed-box" ng-cloak						
											ng-repeat-end ng-repeat="match in boardgame.matches | filter:{title:query} | filter: msCtrl.timeGreaterThanMatch | orderBy:'-time'"
											ng-href="#/matches/{{match.pk}}"
											>

												<img ng-src="{{boardgame.thumbnail}}" class="md-avatar" alt="match {{boardgame.title}}" />
												<div layout="column">
													<div layout="row">
														<h3>Match {{match.pk}}</h3>
													</div>
													<div layout="row" class="size-14">
														<i>{{match.time | date:"EEEE, MMMM d, y, H:mm in"}} {{match.location}}</i>
													</div>
												</div>
											</md-list-item>
									  </md-list>
										<div layout="column" layout-align="center center" ng-hide="filteredGames.length" flex="100">
									  		<div layout="row" class="size-72 mrg20b">:(</div>
									  		<div layout="row" class="mrg20b"><h1>You didn't scheduled any match!</h1></div>
									  		<div layout="row" class="blue-grey clickable decoNone" ng-click="matchesPopup($event, user_pk)"><h2><i class="icon-plus-1 mrg10r"></i>Schedule one</h2></div>
										</div>
									</div>
								</div>
							</md-content>
						</md-tab>
						<md-tab label="all matches">
							<md-content>
								<div layout="row" class="overflowScroll">
									<div layout="column" flex="100">
										<md-list flex ng-show="msCtrl.loaded" ng-init=$scope>
											<md-list-item
												class=" md-3-line animate-repeat whiteBg mrg5b mrg5r shadowed-box"						
												ng-repeat-start="boardgame in msCtrl.games | filter:{title:query} | orderBy:msCtrl.getOrderingField():true"
												ng-click="msCtrl.setVisible(boardgame.pk)">
												<img ng-src="{{boardgame.thumbnail}}" class="md-avatar" alt="match {{boardgame.title}}" />
												<div layout="column">
													<div layout="row">
														<h3> {{boardgame.title}}</h3>
													</div>
													<div layout="row">
														<i>{{boardgame.matches.length}} matches</i>
													</div>
												</div>
												<i 
												ng-if="boardgame.isFavourite"
												aria-label="remove favourite"
												class="icon-heart md-secondary" 
												md-colors="{color: 'myTheme-accent'}"
												ng-click="msCtrl.toggleFavourites(boardgame.favourite, boardgame.pk, user_pk, boardgame.listId)"></i>
												<i 
												ng-if="!boardgame.isFavourite" 
												aria-label="add favourite"
												class="icon-heart-o md-secondary"  
												md-colors="{color: 'myTheme-accent'}"
												ng-click="msCtrl.toggleFavourites(boardgame.favourite, boardgame.pk, user_pk, boardgame.listId)"></i>
											</md-list-item>
											<md-list-item 
											ng-if="boardgame.visible"
											class=" md-3-line mrg50l whiteBg mrg5b mrg5r shadowed-box" ng-cloak						
											ng-repeat-end ng-repeat="match in boardgame.matches | filter:{title:query} | orderBy:'-time'"
											ng-href="#/matches/{{match.pk}}"
											>

												<img ng-src="{{boardgame.thumbnail}}" class="md-avatar" alt="match {{boardgame.title}}" />
												<div layout="column">
													<div layout="row">
														<h3>Match {{match.pk}}</h3>
													</div>
													<div layout="row" class="size-14">
														<i>{{match.time | date:"EEEE, MMMM d, y, H:mm in"}} {{match.location}}</i>
													</div>
												</div>
											</md-list-item>
										</md-list>
									</div>
								</div>
							</md-content>
						</md-tab>
					</md-tabs>
				</div>
			</div>
		</div>
	</div>
</div>