<div class="container-fluid" layout-padding layout="column" >
	<div layout="row">
		<div layout="column" flex="100">
			<div layout="row" class="height50">
				<div layout="column" flex="100">
					<h3 class="blue-grey">Matches ({{msCtrl.matchesSum()}})</h3>
					
				</div>
			</div>
			
			<div layout="row" class="height100" >
				<div layout="column" flex="90" >
					<md-input-container class="md-block md-accent">
					  <label>Search</label>
					  <input ng-model="query">
					</md-input-container>
				</div>
				<div layout="column" flex="10" layout-align="center center">
					<md-menu>
						<md-button class="md-fab md-mini" ng-click="$mdOpenMenu(ev)">
							<i class="fa fa-sort-amount-desc"></i>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-button ng-click="msCtrl.setOrderingField(['title', 'location'])">
									<i class="fa fa-sort-alpha-asc" md-colors="{color: 'myTheme-accent'}"></i>
									Alphabetical order
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="msCtrl.setOrderingField('lastMatchTime')">
									<i class="fa fa-star-o" md-colors="{color: 'myTheme-accent'}"></i>
									Last played
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="msCtrl.setOrderingField(['pk', 'pk'])">
									<i class="fa fa-heart-o" md-colors="{color: 'myTheme-accent'}"></i>
									Favourite order
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
			<div layout="row" class="overflowScroll">
				<div layout="column" flex="100">
					<md-list flex ng-show="msCtrl.loaded"
					ng-init=$scope>
						<md-list-item
						class=" md-3-line animate-repeat whiteBg mrg5b mrg5r shadowed-box"						
						ng-repeat-start="boardgame in msCtrl.games | filter:{title:query} | orderBy:msCtrl.getOrderingField():true"
						ng-click="msCtrl.setVisible(boardgame.pk)">
							<img ng-src="{{boardgame.thumbnail}}" class="md-avatar" alt="match {{boardgame.title}}" />
							<div layout="column">
								<div layout="row">
									<h3> {{boardgame.title}}</h3>
								</div>
								<div layout="row">
									<i>{{boardgame.matches.length}} matches</i>
								</div>
							</div>
							<i ng-if="msCtrl.isFavourite(boardgame.favourite)" class="fa fa-heart md-secondary" md-colors="{color: 'myTheme-accent'}"></i>
							<i ng-if="!msCtrl.isFavourite(boardgame.favourite)" class="fa fa-heart-o md-secondary" md-colors="{color: 'myTheme-accent'}"></i>
						</md-list-item>
						<md-list-item 
						ng-if="boardgame.visible"
						class=" md-3-line mrg50l whiteBg mrg5b mrg5r shadowed-box" ng-cloak						
						ng-repeat-end ng-repeat="match in boardgame.matches | filter:{title:query} | orderBy:'-time'"
						ng-href="#/matches/{{match.pk}}"
						>

							<img ng-src="{{boardgame.thumbnail}}" class="md-avatar" alt="match {{boardgame.title}}" />
							<div layout="column">
								<div layout="row">
									<h3>Match {{match.pk}}</h3>
								</div>
								<div layout="row" class="size-14">
									<i>{{match.time | date:"EEEE, MMMM d, y, H:mm in"}} {{match.location}}</i>
								</div>
							</div>
						</md-list-item>
				  </md-list>
				</div>
			</div>
		</div>
	</div>
</div>