<section layout="row" id="container" class="overflowYHidden height100perc" flex ng-cloak>
	<md-sidenav
		ng-if="user && user.emailVerified"
		class="md-sidenav-left height100perc"
		md-is-locked-open="$mdMedia('gt-sm')"
		id="sidebar" 				
		>
		<div ng-controller="sidebarController as sCtrl">
			<div layout="row">
				<div layout="column" flex="100" md-colors="{background: 'myTheme-primary'}" class="relative blue-grey shadowed-box" >
					<div layout="row" class="clickable">	
						<div layout="column" flex="100" layout-align="center center" class="height150 pad10" ng-click="goTo('profile/')">
							<div class="row">
								
								<div class="imgProfile circleBase borderWhite" layout-align="center center" ng-if="user.profile_details.image == ''">
									<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[user.uid] || getRandomColor(user.uid)" alt="profile image">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-48">{{user.profile_details.username.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>

								<div class="circleBase imgProfile shadowed-box" layout-align="center center" alt="profile image" back-img="{{user.profile_details.image}}" ng-if="user.profile_details.image != ''">
								</div>

							</div>
							<div layout="row">
								<div layout="column" id="username" class="size-18 pad5t" flex="50" layout-align="center start">
									{{user.profile_details.username}}										
								</div>
							</div>
						</div>
					</div>
					<div layout="row" class="clickable absolute3 width100perc">
						<div layout="column" class="size-18" flex="35" layout-align="center center">
							<md-button class="md-fab md-mini md-primary" aria-label="Settings" ng-click="goTo('/')">
								<i class="i"></i>
								<md-tooltip md-direction="bottom" md-delay="200">Home</md-tooltip>
							</md-button>	
						</div>
						<div layout="column" class="size-18" flex="30" layout-align="center center">
							<md-button  ng-if="(user.friends.inbound | countObjectByProperty : 'accepted':false) > 0" class="md-fab md-mini relative" aria-label="Settings" ng-click="showNotifications()">
								<i class="absolute8 icon-user-add white60perc"></i>
								<div class="size-24">{{user.friends.inbound | countObjectByProperty : 'accepted':false }}</div>
								<md-tooltip md-direction="bottom" md-delay="200">Friend request</md-tooltip>
					 		</md-button>
					 		<md-button  ng-if="(user.friends.inbound | countObjectByProperty : 'accepted':false) == 0" class="md-fab md-mini md-primary" aria-label="Settings" ng-click="showNotifications()">
								<i class="icon-user-add"></i>
								<md-tooltip md-direction="bottom" md-delay="200">Friend request</md-tooltip>
					 		</md-button>
						</div>
						<div layout="column" class="size-18" flex="35" layout-align="center center">
							<md-button class="md-fab md-mini md-primary" aria-label="Logout" >
								<i class="i"></i>
								<md-tooltip md-direction="bottom" md-delay="200">Messages</md-tooltip>
					 		</md-button>
						</div>
					</div>
				</div>
			</div>
			<div layout="row" class="pad10b pad20t">
				<div layout="column" flex="100"  class="pad10l pad10t">
					<div layout="row">
						<div layout="column" flex="100" >
							<a layout="row"  class="pad10t decoNone clickable" ng-click="goTo('/')"
							>
								<div layout="column" flex="15" layout-align="center center"
								ng-class="{'active': (path.indexOf('/profile/0') >= 0)}">
									<i class="size-18 icon-home"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">Dashboard</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<md-divider ></md-divider> <!--md-inset-->
			<div layout="row" class="pad10b pad20t">
				<div layout="column" flex="100"  class="pad10l pad10t">
					<div layout="row" md-colors="{color: 'myTheme-primary'}"><h5>PROFILE</h5></div>
					<div layout="row">
						<div layout="column" flex="100" >
							<a layout="row"  class="pad10t decoNone clickable" ng-click="goTo('profile/', 0)"
							>
								<div layout="column" flex="15" layout-align="center center"
								ng-class="{'active': (path.indexOf('/profile/0') >= 0)}">
									<i class="size-18 icon-heart-o"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">Favourites</div>
							</a>
							<a layout="row"  class="pad10t decoNone clickable" ng-click="goTo('profile/', 1)">
								<div layout="column" flex="15" layout-align="center center"
								ng-class="{'active': (path.indexOf('/profile/1') >= 0)}">
									<i class="icon-stats-bars"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">Stats</div>
							</a>
							
						</div>
					</div>
				</div>
			</div>
			<md-divider ></md-divider> <!--md-inset-->
			<div layout="row" class="pad10b">
				<div layout="column" flex="100"  class="pad10l pad10t">
					<div layout="row"  md-colors="{color: 'myTheme-primary'}"><h5>BORDGAMES</h5></div>
					<div layout="row">
						<div layout="column" flex="100" >
							<a 
							layout="row"  
							class="pad10t decoNone" 
							href="#/boardgames"
							>
								<div layout="column" flex="15" layout-align="center center"
								ng-class="{'active': (path.indexOf('/boardgames') >= 0)}">
									<i class="size-18 icon-list-bullet"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">List</div>
							</a>
							<a layout="row"  class="pad10t decoNone" href="#/matches">
								<div layout="column" flex="15" layout-align="center center"
								ng-class="{'active': (path.indexOf('/matches') >= 0)}">
									<i class="size-18 icon-die-five"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">Matches</div>
							</a>
							<a layout="row"  class="pad10t decoNone clickable" ng-click="showPopup($event, user.uid, 'matches')">
								<div layout="column" flex="15" layout-align="center center">
									<i class="icon-plus-1"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">New Match</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<md-divider></md-divider>
			<div layout="row" class="height100">
				<div layout="column" flex="100"  class="pad10l pad10t">
					<div layout="row"  md-colors="{color: 'myTheme-primary'}"><h5>COMMUNITY</h5></div>
					<div layout="row">
						<div layout="column" flex="100" >
							<a layout="row"  class="pad10t decoNone" href="#/">
								<div layout="column" flex="15" layout-align="center center">
									<i class="size-18 icon-list-bullet"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">Will come soon</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<md-divider ></md-divider> <!--md-inset-->
			<div layout="row"  class="height100">
				<div layout="column" flex="100"  class="pad10l pad10t">
					<div layout="row"  md-colors="{color: 'myTheme-primary'}"><h5>HELP US!</h5></div>
					<div layout="row">
						<div layout="column" flex="100" >
							<a 
							layout="row"  
							class="pad10t decoNone" 
							href="#/templates"
							>
								<div layout="column" flex="15" layout-align="center center"
								ng-class="{'active': (path.indexOf('/templates') >= 0)}">
									<i class="size-18 icon-list-bullet"></i>
								</div>
								<div layout="column" flex="85" layout-align="center start">Create a template</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<md-divider ></md-divider> <!--md-inset-->
			<div layout="row">
				<div layout="column" class="size-18" flex="50" layout-align="center center">
					<md-button class="md-fab md-mini" aria-label="Settings" ng-click="goTo('profile/', 3)">
						<i class="icon-cog"></i>
						<md-tooltip md-direction="bottom" md-delay="200">Settings</md-tooltip>
			 		</md-button>
				</div>
				<div layout="column" class="size-18" flex="50" layout-align="center center">
					<md-button class="md-fab md-mini" aria-label="Logout" ng-click="logout()">
						<i class="icon-log-out"></i>
						<md-tooltip md-direction="bottom" md-delay="200">Logout</md-tooltip>
			 		</md-button>
				</div>
			</div> 
		</div> 
	</md-sidenav>
	<md-content layout="column" flex ng-view class="overflowScroll"></md-content>

	<md-sidenav class="md-sidenav-right height100perc md-sidenav-right" md-component-id="right" >

      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">Friends Request</h1>
      </md-toolbar>

      <md-content>
        <md-list flex>
			<md-list-item
				class=" md-1-line animate-repeat"                       
				ng-repeat="(key, friend) in user.friends.inbound | orderObjectBy: 'inserted_at':true| objLimitTo: 3"
				ng-href="#/user/{{friend.key}}" ng-if="!friend.accepted">
				
				<md-button 	ng-if="friend.image == ''" ng-click="goTo('users/'+friend.key)" class="mrg0l mrg8t mrg8b mrg16r md-fab md-mini" ng-style="randomColors[friend.key] || getRandomColor(friend.key)" >
					<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{friend.username.substring(0,1).toUpperCase()}}</div>
				</md-button>
				<img ng-if="friend.image != ''" ng-src="{{friend.image}}" class="md-avatar shadowed-box" alt="{{friend.username}}"/>

				<div layout="column">
					<div layout="row">
						<h4> {{friend.username}}</h4>
					</div>
				</div>
				<i 
				aria-label="add friend"
				class="icon-user-add md-secondary" 
				md-colors="{color: 'myTheme-primary'}"
				ng-click="acceptFriend(friend.key)">
					<md-tooltip md-direction="left" md-delay="200">Add friend</md-tooltip>
				</i>
			</md-list-item>
		</md-list>
      </md-content>

    </md-sidenav>

</section>