<md-dialog aria-label="Add Match" flex="50">
  <form ng-cloak>
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h3>{{mdCtrl.title}}</h3>
      </div>
    </md-toolbar>
	<md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom md-selected="mdCtrl.currentTab">
        <md-tab label="match infos">
          <md-content class="md-padding">
            	<div class="md-dialog-content">
            	
						<md-autocomplete
						  md-selected-item="mdCtrl.selectedValues.boardgame"
						  md-search-text="mdCtrl.searchText"
						  md-items="boardgame in mdCtrl.querySearchBoardgames(mdCtrl.searchText) | orderBy:'display'"
						  md-item-text="boardgame.display"
						  md-min-length="0"
						  placeholder="What did you play?">
						<md-item-template>
						  <span md-highlight-text="mdCtrl.searchText" md-highlight-flags="^i">{{boardgame.display}}</span>
						</md-item-template>
						<md-not-found>
						  No boardgame matching "{{mdCtrl.searchText}}" were found.
						</md-not-found>
					  </md-autocomplete>
					<div layout="row" class="mrg50t">					
						<div layout-xs="row" layout-gt-xs="column" flex-xs="none" felx-gt-xs="50">  
						  <md-input-container>
							<label>Where?</label>
							<input ng-model="mdCtrl.selectedValues.location">
						  </md-input-container>
						</div>

						<div layout-xs="row" layout-gt-xs="column" flex-xs="none" felx-gt-xs="50">  
						  <md-input-container>
							<label>When?</label>
							<md-datepicker flex ng-model="mdCtrl.selectedValues.time"></md-datepicker>
						  </md-input-container>
						</div>
					</div>

					<div layout="row">
						<md-checkbox ng-model="TODO" aria-label="Lower score wins?">
			           		 Lowest score wins?
			            </md-checkbox>
				 	</div>
				 </div>
				 
				<div layout="column" flex>
					<div layout="row" layout-align="end center">
						<md-button class="md-fab size-24" ng-click="mdCtrl.storeMatchInfo()">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row"class="fa fa-angle-right" aria-hidden="true" >
								</div>
							</div>
						</md-button>
						
					</div>
				</div>
			</md-content>
        </md-tab>
        <md-tab label="add players">
          <md-content class="md-padding">
				<div class="md-dialog-content">
					<md-input-container class="md-block">
						<input type="number" ng-model="mdCtrl.nplayers" aria-label="red" aria-controls="red-slider">
						<label>How many players join this match?</label>
					</md-input-container>
					<div ng-repeat="i in mdCtrl.range(0, mdCtrl.nplayers-1)" class="mrg10t">
						<md-autocomplete 
							md-selected-item="mdCtrl.selectedValues.players[i]"
							md-search-text="mdCtrl.searchText[i]"
							md-items="player in mdCtrl.querySearchPlayers(mdCtrl.searchText[i]) | orderBy:'display'"
							md-item-text="player.display"
							md-min-length="0"
							placeholder="Select player {{i+1}}">
								<md-item-template>
								  <span md-highlight-text="mdCtrl.searchText[i]" md-highlight-flags="^i">{{player.display}}</span>
								</md-item-template>
								<md-not-found>
								  No player matching "{{mdCtrl.searchText[i]}}" were found.
								</md-not-found>
						</md-autocomplete>
					</div>
				</div>
				 
				<div layout="column" flex>
					<div layout="row" layout-align="end center">
						<md-button class="md-fab size-24" ng-click="mdCtrl.post()">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row"class="fa fa-check" aria-hidden="true" >
								</div>
							</div>
						</md-button>
						
					</div>
				</div>
		  </md-content>
        </md-tab>
        <md-tab label="three">
			<md-content class="md-padding">
				<h1 class="md-display-2">Tab Three</h1>
				<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			</md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
      
  </form>
</md-dialog>