<md-dialog aria-label="Add Match" flex="50" id="dialog">
  <form ng-cloak>
	<md-dialog-content>
	  <md-tabs md-dynamic-height md-selected="mdCtrl.currentTab" class="matchesDialogTab" >
	  	<md-tab label="select boardgame" ng-disabled="mdCtrl.currentTab < 0">
		  	<md-content class="md-padding" md-colors="{background: 'myTheme-primary'}">
		  		<div class="md-dialog-content">
					<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
						<div class="circleBase imgBoardgameMedium hideScrollbar shadowed-box clickable">
							<div ng-if="mdCtrl.selectedValues.boardgame != null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="{{mdCtrl.selectedValues.boardgame.image}}">
								<div class="circleBase"></div>
							</div>
							<div ng-if="mdCtrl.selectedValues.boardgame == null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="img/puzzle.png">
								<div class="circleBase"></div>
							</div> 
						</div>
					</div>
					<md-autocomplete
						md-selected-item="mdCtrl.selectedValues.boardgame"
						md-selected-item-change="mdCtrl.showExpansions(boardgame)"
						md-search-text="mdCtrl.boardgameSearchText"
						md-items="boardgame in mdCtrl.querySearchBoardgames(mdCtrl.boardgameSearchText)"
						md-item-text="boardgame.name"
						md-min-length="2"
						placeholder="Select a boardgame"
						class="mrg20t">
							<md-item-template>
								<md-list-item class="item-title">
									<img ng-src="{{boardgame.thumbnail}}?100" class="md-avatar" alt="{{boardgame.name}}" />
									<span  md-highlight-text="mdCtrl.boardgameSearchText" md-highlight-flags="^i"> {{boardgame.name}}</span>
								</md-list-item>
							</md-item-template>
							<md-not-found>
								No boardgame matching "{{mdCtrl.boardgameSearchText}}" were found.
							</md-not-found>
					</md-autocomplete>
	
					<div layout="row" layout-xs="column" layout-sm="column" class="mrg20t" ng-if="mdCtrl.selectedValues.boardgame.is_expanded_by">		
						PICK THE EXPANSIONS YOU WANT TO ADD
					</div>  

					<div layout="row" layout-xs="column" layout-sm="column" class="mrg20t overflowScroll">			
						<div layout="column" ng-repeat="(k, exp) in mdCtrl.selectedValues.boardgame.is_expanded_by" class="pad10l relative" ng-click="mdCtrl.toggleExp(k)">
							<div class="circleBase imgBoardgameSmall hideScrollbar shadowed-box clickable">
								<div class="circleBase imgBoardgameSmall" layout-align="center center" back-img="{{exp.thumbnail}}">
									<div class="circleBase" style="font-size:50px;"></div>
								</div>
								<md-tooltip md-direction="bottom" md-delay="200">{{exp.name}}</md-tooltip>
							</div>
							<md-button
								aria-label="Edit match info" 
								class="md-fab md-mini absolute1 md-primary"
								ng-if="mdCtrl.isExpansionSelected(k)"
								id="{{k}}">
									<i class="icon-check-2"></i>
								<md-tooltip md-direction="bottom" md-delay="200">Remove expansion</md-tooltip>
							</md-button>
						</div>
					</div>

					<div layout="row" layout-align="end center">
						<md-button class="md-fab md-accent size-24" ng-click="mdCtrl.selectBoardgame()" aria-label="next">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row" class="icon-angle-right" aria-hidden="true" >
								</div>
							</div>
						</md-button>
					</div>
		  		</div>
			</md-content>
		</md-tab>
		<md-tab label="select players" ng-disabled="mdCtrl.currentTab < 1">
		  <md-content class="md-padding">
		  			<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
						<div class="circleBase imgBoardgameMedium hideScrollbar shadowed-box clickable">
							<div ng-if="mdCtrl.selectedValues.boardgame != null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="{{mdCtrl.selectedValues.boardgame.image}}">
								<div class="circleBase"></div>
							</div>
							<div ng-if="mdCtrl.selectedValues.boardgame == null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="img/puzzle.png">
								<div class="circleBase"></div>
							</div> 
						</div>
					</div>
					<md-list class="fixedRows pad0">
					  <md-subheader class="md-no-sticky">Players</md-subheader>
					  <div class="maxHeight150 overflowScroll">
							<md-list-item class="md-1-line contact-item" ng-repeat="player in mdCtrl.selectedValues.players" ng-if="$first"
							>
							<div class="imgProfileMini circleBase borderWhite" layout-align="center center">
								<div class="circleBase" layout-align="center center" " ng-style="randomColors[user.uid] || getRandomColor(user.uid)" alt="{{user.profile_details.username}}">
									<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{user.profile_details.username.substring(0,1).toUpperCase()}}</div>
								</div>
							</div>
							<div class="md-list-item-text compact">
							  <h4>{{user.profile_details.username}}</h4>
							</div>
						  </md-list-item>
						  <md-list-item class="md-1-line contact-item" ng-repeat="(key, player) in mdCtrl.selectedValues.players" ng-if="!$first"
						   >
						   <div class="imgProfileMini circleBase borderWhite" layout-align="center center">
								<div class="circleBase" layout-align="center center" " ng-style="randomColors[player.uid] || getRandomColor(player.uid)" alt="{{player.username}}" >
									<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{player.username.substring(0,1).toUpperCase()}}</div>
								</div>
							</div>
							<!--<img ng-src="{{player.img}}" class="md-avatar shadowed-box" ng-style="randomColors[player.id] || getRandomColor(player.id)" alt="{{player.display}}" />-->
							<div class="md-list-item-text compact">
							  <h4>{{player.username}}</h4>
							</div>
							<div class="md-secondary" ng-click="mdCtrl.togglePlayer('remove', player)">
							  <i class="icon-close-round" ></i>
							</div>
						  </md-list-item>
						 </div>
					</md-list>

					<md-list class="fixedRows clear pad0">
						  <md-subheader class="md-no-sticky">Select companions</md-subheader>
						  <div class="maxHeight200 overflowScroll">
							  <md-list-item class="md-1-line contact-item" ng-repeat="(key, profile) in mdCtrl.users"
							  ng-click="mdCtrl.togglePlayer('select', profile)" 
							  >
							 	 <div class="imgProfileMini circleBase borderWhite" layout-align="center center">
									<div class="circleBase" layout-align="center center" " ng-style="randomColors[profile.uid] || getRandomColor(profile.uid)" alt="{{profile.username}}">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{profile.username.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>
								<!--<img ng-src="{{user.img}}" class="md-avatar shadowed-box" ng-style="randomColors[user.id] || getRandomColor(user.id)" alt="{{user.display}}" />-->
								<div class="md-list-item-text compact">
								  <h4>{{profile.username}}</h4>
								</div>
							  </md-list-item>
						  </div>
					</md-list>
				<div layout="column" flex class="clear">
					<div layout="row" layout-align="end center">
						<md-button aria-label="next" class="md-fab size-24" ng-click="mdCtrl.goTo(2)">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row" class="icon-check-2" aria-hidden="true" >
								</div>
							</div>
						</md-button>
					</div>
				</div>
		  </md-content>
		</md-tab>
		<md-tab label="select template" ng-disabled="mdCtrl.currentTab < 2">
			<md-content class="md-padding">
				<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
					<div class="circleBase imgBoardgameMedium hideScrollbar shadowed-box clickable">
						<div ng-if="mdCtrl.selectedValues.boardgame != null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="{{mdCtrl.selectedValues.boardgame.image}}">
							<div class="circleBase"></div>
						</div>
						<div ng-if="mdCtrl.selectedValues.boardgame == null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="img/puzzle.png">
							<div class="circleBase"></div>
						</div> 
					</div>
				</div>
				<md-list flex>
					<md-list-item
						class=" md-1-line animate-repeat whiteBg mrg5t mrg5r shadowed-box" 
						ng-repeat-start="template in mdCtrl.templates"
						ng-click="mdCtrl.setVisible($index)">
						<div layout="column" flex="15">
							<div layout="row">
								<div layout="column" flex="40" layout-align="center center">
									<md-button aria-label="select template" class="md-icon-button blue-grey"
										ng-class="{'md-accent': template.minus[user.uid]}"
										ng-click="mdCtrl.updateVote(template, 'minus', 'plus', user.uid)">
										<i class="icon-thumbs-down"></i>
									</md-button>
								</div>
								<div layout="column" flex="20" layout-align="center center">
									<div layout="row">
										<h4>{{(template.plus | keylength) - (template.minus | keylength)}}</h4>
									</div>
								</div>
								<div layout="column" flex="40" layout-align="center center">
									<md-button aria-label="select template" class="md-icon-button blue-grey" 
										ng-class="{'md-primary': template.plus[user.uid]}"
										ng-click="mdCtrl.updateVote(template, 'plus', 'minus', user.uid)">
										<i class="icon-thumbs-up"></i>
									</md-button>
								</div>
							</div>
						</div>
						<div layout="column" flex="35">
							<div layout="row">
								<h3>{{template.name}}</h3>
							</div>
						</div>
													
						<div layout="column" flex="40">
							<md-button ng-if="template.hasExpansions" ng-disabled="true" class="md-primary">WITH EXPANSIONS</md-button>
						</div>
						<div layout="column" flex="10">
							<md-button aria-label="select template" class="md-fab md-mini"
								ng-click="mdCtrl.selectTemplate(template)">
								<i class="icon-angle-right"></i>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item layout="row" ng-repeat-end ng-repeat="scoring_field in template.scoring_fields"  ng-if="template.visible"
					class="md-1-line animate-repeat whiteBg mrg5r shadowed-box">
						<div layout="column" flex="50">
							<div layout="row">
								{{scoring_field.name[lang]}}
							</div>
						</div>
						<div layout="column" flex="50" layout-align="center end">
							<div layout="row">
								points: {{scoring_field.bonus}}
							</div>
						</div>
					</md-list-item>
				</md-list>
				<div layout="row" class="mrg20t" layout-align="end center">
					<md-button aria-label="add template" class="md-accent md-raised" ng-click="mdCtrl.addTemplate()">
						Add new template
					</md-button>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="add infos" ng-disabled="mdCtrl.currentTab < 3">
			<md-content class="md-padding">
				<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
					<div class="circleBase imgBoardgameMedium hideScrollbar shadowed-box clickable">
						<div ng-if="mdCtrl.selectedValues.boardgame != null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="{{mdCtrl.selectedValues.boardgame.image}}">
							<div class="circleBase"></div>
						</div>
						<div ng-if="mdCtrl.selectedValues.boardgame == null" class="circleBase imgBoardgameMedium" layout-align="center center" back-img="img/puzzle.png">
							<div class="circleBase"></div>
						</div> 
					</div>
				</div>
				<div layout="row" layout-xs="column" layout-sm="column" class="mrg20t">			
					<div layout="column" flex-gt-sm="100">  
					  <md-input-container>
						<label>Give a name to your match</label>
						<input ng-model="mdCtrl.selectedValues.name">
					  </md-input-container>
					</div>
				</div>
				<div layout="row" layout-xs="column" layout-sm="column">			
					<div layout="column" flex-gt-sm="50">  
					  <md-input-container>
						<label>Tell us where did you play...</label>
						<input ng-model="mdCtrl.selectedValues.location">
					  </md-input-container>
					</div>

					<div layout="column" flex-gt-sm="50">  
					  <md-input-container>
						<label>...and when</label>
						<md-datepicker flex ng-model="mdCtrl.selectedValues.time"></md-datepicker>
					  </md-input-container>
					</div>
				</div>
				<div layout="row" layout-align="end center">
					<md-button class="md-fab size-24" ng-click="mdCtrl.postMatch()" aria-label="next">
						<div layout="column" class="pad3l pad2b" flex layout-align="center center">
							<div layout="row" class="icon-angle-right" aria-hidden="true" ></div>
						</div>
					</md-button>
				</div>
			</md-content>
		</md-tab>
	  </md-tabs>
	</md-dialog-content>
	  
  </form>
</md-dialog>