 <md-dialog aria-label="Add Match" flex="50" id="dialog">
  <form ng-cloak>
	<md-dialog-content>
	  <md-tabs md-dynamic-height md-selected="mdCtrl.currentTab" class="matchesDialogTab">
	  	<md-tab label="select boardgame">
		  	<md-content class="md-padding" md-colors="{background: 'myTheme-primary'}">
		  		<div class="md-dialog-content">
					<md-autocomplete
						md-selected-item="mdCtrl.selectedValues.boardgame"
						md-selected-item-change="mdCtrl.showExpansions(boardgame)"
						md-search-text="mdCtrl.boardgameSearchText"
						md-items="boardgame in mdCtrl.querySearchBoardgames(mdCtrl.boardgameSearchText)"
						md-item-text="boardgame.display"
						md-min-length="2"
						placeholder="Select a boardgame">
							<md-item-template>
								<md-list-item class="item-title">
									<img ng-src="{{boardgame.thumbnail}}?100" class="md-avatar" alt="{{boardgame.display}}" />
									<span  md-highlight-text="mdCtrl.boardgameSearchText" md-highlight-flags="^i"> {{boardgame.display}}</span>
								</md-list-item>
							</md-item-template>
							<md-not-found>
								No boardgame matching "{{mdCtrl.boardgameSearchText}}" were found.
							</md-not-found>
					</md-autocomplete>

					<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center" class="mrg20t" ng-if="mdCtrl.selectedValues.boardgame != null">
						<div class="circleBase imgBoardgameMedium hideScrollbar shadowed-box clickable">
							<div class="circleBase imgBoardgameMedium" layout-align="center center" back-img="{{mdCtrl.selectedValues.boardgame.img}}">
								<div class="circleBase"></div>
							</div> 
						</div>
					</div>  
					
					<div layout="row" layout-xs="column" layout-sm="column" class="mrg20t" ng-if="mdCtrl.expansions.length>0">		
						PICK THE EXPANSIONS YOU WANT TO ADD
					</div>  

					<div layout="row" layout-xs="column" layout-sm="column" class="mrg20t">			
						<div layout="column" ng-repeat="exp in mdCtrl.expansions" class="pad10l relative" ng-click="mdCtrl.toggleExp(exp.pk)">
							<div class="circleBase imgBoardgameSmall hideScrollbar shadowed-box clickable">
								<div class="circleBase imgBoardgameSmall" layout-align="center center" back-img="{{exp.thumbnail}}">
									<div class="circleBase" style="font-size:50px;"></div>
								</div>
								<md-tooltip md-direction="bottom" md-delay="200">{{exp.title}}</md-tooltip>
							</div>
							<md-button 
								aria-label="Edit match info" 
								class="md-fab md-mini absolute1 md-primary"
								ng-if="mdCtrl.isExpansionSelected(exp.pk)"
								id="{{exp.pk}}">
									<i class="icon-check-2"></i>
								<md-tooltip md-direction="bottom" md-delay="200">Remove expansion</md-tooltip>
							</md-button>
						</div>
					</div>

					<div layout="row" layout-align="end center">
						<md-button class="md-fab md-accent size-24" ng-click="mdCtrl.selectBoardgame()" aria-label="next">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row" class="icon-angle-right" aria-hidden="true" >
								</div>
							</div>
						</md-button>
					</div>
		  		</div>
			</md-content>
		</md-tab>
		<md-tab label="select players">
		  <md-content class="md-padding">
					<md-list class="fixedRows pad0">
					  <md-subheader class="md-no-sticky">Players</md-subheader>
					  <div class="maxHeight150 overflowScroll">
							<md-list-item class="md-1-line contact-item" ng-repeat="player in mdCtrl.selectedValues.players" ng-if="$first"
							>
							<div class="imgProfileMini circleBase borderWhite" layout-align="center center">
								<div class="circleBase" layout-align="center center" " ng-style="randomColors[user_pk] || getRandomColor(user_pk)" alt="{{player.display}}">
									<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{player.display.substring(0,1).toUpperCase()}}</div>
								</div>
							</div>
							<div class="md-list-item-text compact">
							  <h4>{{player.display}}</h4>
							</div>
						  </md-list-item>
						  <md-list-item class="md-1-line contact-item" ng-repeat="player in mdCtrl.selectedValues.players" ng-if="!$first"
						   >
						   <div class="imgProfileMini circleBase borderWhite" layout-align="center center">
								<div class="circleBase" layout-align="center center" " ng-style="randomColors[player.id] || getRandomColor(player.id)" alt="{{player.display}}" >
									<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{player.display.substring(0,1).toUpperCase()}}</div>
								</div>
							</div>
							<!--<img ng-src="{{player.img}}" class="md-avatar shadowed-box" ng-style="randomColors[player.id] || getRandomColor(player.id)" alt="{{player.display}}" />-->
							<div class="md-list-item-text compact">
							  <h4>{{player.display}}</h4>
							</div>
							<div class="md-secondary" ng-click="mdCtrl.togglePlayer('remove', player, $index)">
							  <i class="icon-close-round" ></i>
							</div>
						  </md-list-item>
						 </div>
					</md-list>

					<md-list class="fixedRows clear pad0">
						  <md-subheader class="md-no-sticky">Select companions</md-subheader>
						  <div class="maxHeight200 overflowScroll">
							  <md-list-item class="md-1-line contact-item" ng-repeat="user in mdCtrl.users | orderBy:'-friendship'"
							  ng-click="mdCtrl.togglePlayer('select', user, user.id)" 
							  >
							 	 <div class="imgProfileMini circleBase borderWhite" layout-align="center center">
									<div class="circleBase" layout-align="center center" " ng-style="randomColors[user.id] || getRandomColor(user.id)" alt="{{user.display}}">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{user.display.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>
								<!--<img ng-src="{{user.img}}" class="md-avatar shadowed-box" ng-style="randomColors[user.id] || getRandomColor(user.id)" alt="{{user.display}}" />-->
								<div class="md-list-item-text compact">
								  <h4>{{user.display}}</h4>
								</div>
							  </md-list-item>
						  </div>
					</md-list>
				<div layout="column" flex class="clear">
					<div layout="row" layout-align="end center">
						<md-button aria-label="next" class="md-fab size-24" ng-click="mdCtrl.goTo(2)">
							<div layout="column" class="pad3l pad2b" flex layout-align="center center">
								<div layout="row" class="icon-check-2" aria-hidden="true" >
								</div>
							</div>
						</md-button>
					</div>
				</div>
		  </md-content>
		</md-tab>
		<md-tab label="select template">
			<md-content class="md-padding">
				<md-list flex>
					<md-list-item
						class=" md-1-line animate-repeat whiteBg mrg5t mrg5r shadowed-box" 
						ng-repeat-start="template in mdCtrl.selectedValues.templates | orderBy:'-votes'"
						ng-click="mdCtrl.setVisible(template.pk)">
						<div layout="column" flex="15">
							<div layout="row">
								<div layout="column" flex="40" layout-align="center center">
									<md-button aria-label="select template" class="md-icon-button blue-grey" 
										ng-class="{'md-primary': template.user_vote == '1'}"
										ng-click="mdCtrl.updateVote(template, 1)">
										<i class="icon-thumbs-up"></i>
									</md-button>
								</div>
								<div layout="column" flex="20" layout-align="center center">
									<div layout="row">
										<h4>{{template.votes}}</h4>
									</div>
								</div>
								<div layout="column" flex="40" layout-align="center center">
									<md-button aria-label="select template" class="md-icon-button blue-grey"
										ng-class="{'md-accent': template.user_vote == '-1'}"
										ng-click="mdCtrl.updateVote(template, -1)">
										<i class="icon-thumbs-down"></i>
									</md-button>
								</div>
							</div>
						</div>
						<div layout="column" flex="65">
							<div layout="row">
								<h3>Template {{$index+1}}</h3>
							</div>
						</div>
													
						<div layout="column" flex="10" ng-if="template.hasExpansions">
							<md-button aria-label="select template" class="md-fab md-fab md-mini">Exp</md-button>
						</div>
						<div layout="column" flex="10">
							<md-button aria-label="select template" class="md-fab md-mini"
								ng-click="mdCtrl.selectTemplate(template)">
								<i class="icon-angle-right"></i>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item layout="row" ng-repeat-end ng-repeat="scoringField in template.scoringField_details"  ng-if="template.visible"
					class="md-1-line animate-repeat whiteBg mrg5r shadowed-box">
						<div layout="row">
							{{scoringField.word_value}}
						</div>
					</md-list-item>
				</md-list>
				<div layout="row" class="mrg20t" layout-align="end center">
					<md-button aria-label="add template" class="md-accent md-raised" ng-click="mdCtrl.addTemplate(true)">
						Add new template
					</md-button>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="add infos">
			<md-content class="md-padding">
				<div layout="row" layout-xs="column" layout-sm="column" class="mrg20t">			
					<div layout="column" flex-gt-sm="100">  
					  <md-input-container>
						<label>Give a name to your match</label>
						<input ng-model="mdCtrl.selectedValues.name">
					  </md-input-container>
					</div>
				</div>
				<div layout="row" layout-xs="column" layout-sm="column">			
					<div layout="column" flex-gt-sm="50">  
					  <md-input-container>
						<label>Tell us where did you play...</label>
						<input ng-model="mdCtrl.selectedValues.location">
					  </md-input-container>
					</div>

					<div layout="column" flex-gt-sm="50">  
					  <md-input-container>
						<label>...and when</label>
						<md-datepicker flex ng-model="mdCtrl.selectedValues.time"></md-datepicker>
					  </md-input-container>
					</div>
				</div>
				<div layout="row" layout-align="end center">
					<md-button class="md-fab size-24" ng-click="mdCtrl.postMatch()" aria-label="next">
						<div layout="column" class="pad3l pad2b" flex layout-align="center center">
							<div layout="row" class="icon-angle-right" aria-hidden="true" ></div>
						</div>
					</md-button>
				</div>
			</md-content>
		</md-tab>
	  </md-tabs>
	</md-dialog-content>
	  
  </form>
</md-dialog>