<div>
  <md-content class="pad10l pad10r" layout="row">
	<div layout="column" flex-xs flex-gt-xs="30" >
		<div layout="row" class="height55perc">
		  <md-card layout="column" flex class="whiteBg" class="height100perc">
			<md-card-title class="height10perc">
			  <md-card-title-text>
				<span class="md-headline">Last 5 favourites</span>
			  </md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" class="height80perc overflowScroll">
				<md-list flex ng-if="(user.profile_details.favourites |keylength) > 0">
					<md-list-item
						class=" md-1-line animate-repeat"                       
						ng-repeat="(key, boardgame) in user.profile_details.favourites | orderObjectBy: 'inserted_at':true | objLimitTo: 5"
						ng-href="#/boardgames/{{boardgame.bggId}}">
						<img ng-src="{{boardgame.image}}" class="md-avatar" alt="{{boardgame.name}}" />
						<div layout="column">
							<div layout="row">
								<h4> {{boardgame.name}}</h4>
							</div>
						</div>
						<i 
						aria-label="remove favourite"
						ng-if="user.profile_details.favourites[boardgame.bggId]" 
						class="icon-heart md-secondary" 
						md-colors="{color: 'myTheme-accent'}"
						ng-click="hCtrl.toggleFavourite(boardgame)">
							<md-tooltip md-direction="left" md-delay="200">Remove favourite</md-tooltip>
						</i>
						<i 
						aria-label="add favourite"
						ng-if="!user.profile_details.favourites[boardgame.bggId]" 
						class="icon-heart-o md-secondary" 
						md-colors="{color: 'myTheme-accent'}"
						ng-click="hCtrl.toggleFavourite(boardgame)">
							<md-tooltip md-direction="left" md-delay="200">Add favourite</md-tooltip>
						</i>
					</md-list-item>
				</md-list>
				<div ng-if="(user.profile_details.favourites | keylength) == 0" layout="column" flex layout-align="center center">
					<div layout="row" class="size-48 mrg20b"><i class="icon-heart-o"></i></div>
					<div layout="row" class="mrg20b"><h3>Start adding your favourites!</h3></div>	
				</div>
			</md-card-content>
			<md-card-actions layout="row" class="height10perc">
				<div layout="column" flex layout-align="center start">
			  		<md-button  ng-click="goTo('profile/', 0)">See All</md-button>
			  	</div>
			  	<div layout="column" flex layout-align="center end" class="relative">
		  		 	<md-button 
			          		aria-label="Boardgames list" 
			          		class="md-fab md-mini md-raised md-primary absolute4" 
							ng-click="goTo('boardgames/')">
			            <i class="icon-plus-1"></i>
			        </md-button>
			  	</div>
			</md-card-actions>
		  </md-card>
		</div>
		<div layout="row" class="height5perc">
		</div>
		<div layout="row" class="height40perc">
		  <md-card layout="column" flex class="whiteBg" class="height100perc">
			<md-card-title class="relative height10perc">
			  <md-card-title-text layout-align="center start">
				<span class="md-headline">Last 3 friends</span>
			  </md-card-title-text>
				<md-button 
		          		aria-label="Boardgames list" 
		          		class="md-fab md-mini md md-raised md-primary absolute7" 
						ng-click="showPopup($event, user.uid, 'friends')">
		            <i class="icon-plus-1"></i>
		        </md-button>
			</md-card-title>
			<md-card-content layout="row" class="overflowScroll height80perc">
				<md-list flex ng-if="(user.friends.outbound |keylength) + (user.friends.inbound |keylength) > 0">
					<md-list-item
						class=" md-1-line animate-repeat"                       
						ng-repeat="friend in user.friends | orderObjectBy: 'inserted_at':true:true| objLimitTo: 3"
						ng-href="#/users/{{friend.key}}">
						
						<md-button 	ng-if="friend.image == ''" ng-click="goTo('users/'+friend.key)" class="mrg0l mrg8t mrg8b mrg16r md-fab md-mini" ng-style="randomColors[friend.key] || getRandomColor(friend.key)" >
							<div layout="column" layout-align="center center" class="height100perc white80perc size-18">{{friend.username.substring(0,1).toUpperCase()}}</div>
						</md-button>
						<img ng-if="friend.image != ''" ng-src="{{friend.image}}" class="md-avatar shadowed-box" alt="{{friend.username}}"/>

						<div layout="column">
							<div layout="row">
								<h4> {{friend.username}}</h4>
							</div>
						</div>
						<i 
						aria-label="remove friend"
						class="icon-close-round md-secondary" 
						md-colors="{color: 'myTheme-accent'}"
						ng-click="hCtrl.removeFriend(friend.key)">
							<md-tooltip md-direction="left" md-delay="200">Remove friend</md-tooltip>
						</i>
					</md-list-item>
				</md-list>
				<div ng-if="!user.friends || (user.friends.outbound |keylength) + (user.friends.inbound |keylength) <= 0" layout="column" flex layout-align="center center">
					<div layout="row" class="size-48 mrg20b"><i class="icon-user-add"></i></div>
					<div layout="row" class="mrg20b"><h3>Start adding friends!</h3></div>	
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center" class="height10perc">
				<md-button  ng-click="goTo('profile/')">See All</md-button>
			</md-card-actions>
		  </md-card>
		</div>
	</div>

	<div layout="column" flex-xs flex-gt-xs="40">
		<div layout="row"  flex="100"  class="height50perc">
		  <md-card class="whiteBg" flex>
			<md-card-content class="height100perc overflowScroll">
				<div layout="row" class="pad10">
					<div layout="column" flex  layout-align="center center" ng-if="profile_stats.match_played != 0">
						<div layout="row">
							<h1 >{{100*profile_stats.match_won/profile_stats.match_played | number:2}}%</h1>
						</div>
						<div layout="row">match won</div>
					</div>
				</div>
				<div layout="row"  class="pad10">
					<div layout="column" flex="70"  layout-align="center start">
						<div layout="row">
							<h3>Played matches</h3>
						</div>
					</div>
					<div layout="column" flex="70"  layout-align="center end">
						<div layout="row">
							<h3>{{profile_stats.match_played}}</h3>
						</div>
					</div>
				</div>
				<div layout="row"  class="pad10">
					<div layout="column" flex="70"  layout-align="center start">
						<div layout="row">
							<h3>Matches in progress</h3>
						</div>
					</div>
					<div layout="column" flex="70"  layout-align="center end">
						<div layout="row">
							<h3>{{profile_stats.match_played-profile_stats.match_finished}}</h3>
						</div>
					</div>
				</div>
				<div layout="row"  class="pad10">
					<div layout="column" flex="70"  layout-align="center start">
						<div layout="row">
							<h3>Won matches</h3>
						</div>
					</div>
					<div layout="column" flex="70"  layout-align="center end">
						<div layout="row">
							<h3>{{profile_stats.match_won}}</h3>
						</div>
					</div>
				</div>
				<div layout="row"  class="pad10">
					<div layout="column" flex="70"  layout-align="center start">
						<div layout="row">
							<h3>Most played game</h3>
						</div>
					</div>
					<div layout="column" flex="70"  layout-align="center end">
						<div layout="row">
							<h3>{{profile_stats.most_played_game}}</h3>
						</div>
					</div>
				</div>
				
			</md-card-content>
			<md-card-actions layout="row">
				<div layout="column" flex layout-align="center start">
			  		<md-button  ng-click="goTo('profile/', 1)">See All</md-button>
			  	</div>
			</md-card-actions>
		  </md-card>
		</div>
		



















		<div layout="row"  flex="100" class="height50perc">
			<md-card class="whiteBg" flex>
				<md-card-title>
				  <md-card-title-text layout-align="center start">
					<span class="md-headline">Your mates</span>
				  </md-card-title-text>
				</md-card-title>
				<md-card-content class="height100perc overflowScroll">
					<div layout="column" flex>
						<div layout="row" ng-repeat="(key, companion) in profile_stats.most_frequent_companion | orderObjectBy:'amount':true" class="mrg10b"  ng-if="$first">
							<div layout="column" flex="45" layout-align="center end">
								
								<div class="circleBase imgProfileMedium hideScrollbar shadowed-box clickable"  ng-if="user.profile_details.image == ''">
									<div class="circleBase imgProfileMedium" layout-align="center center" " ng-style="randomColors[user.uid] || getRandomColor(user.uid)" alt="profile image" ng-click="goTo('profile')">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-72">{{user.profile_details.username.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>
								<div class="circleBase imgProfileMedium clickable shadowed-box" layout-align="center center" alt="profile image" back-img="{{user.profile_details.image}}" ng-if="user.profile_details.image != ''" ng-click="goTo('profile')">
								</div>



							</div>
							<div layout="column" flex="10" layout-align="center center">
								<div layout="row">
									<i class="icon-icon size-48 shadowed" md-colors="{color: 'myTheme-accent'}"></i>
								</div>
								<div layout="row">
									{{companion.won}}/{{companion.amount}}
									<md-tooltip md-direction="bottom" md-delay="200">Won/Played</md-tooltip>
								</div>
							</div>



							<div layout="column" flex="45"  layout-align="center start">
								<div class="circleBase imgProfileMedium hideScrollbar shadowed-box clickable"  ng-if="companion.image == ''" ng-click="goTo('users/'+companion.key)">
									<div class="circleBase imgProfileMedium" layout-align="center center" " ng-style="randomColors[companion.key] || getRandomColor(companion.key)" alt="profile image">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-72">{{companion.username.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>
								<div class="circleBase imgProfileMedium clickable shadowed-box" layout-align="center center" alt="profile image" back-img="{{companion.image}}" ng-if="companion.image != ''"  ng-click="goTo('users/'+companion.key)">
								</div>
							</div>
						</div>

						<div layout="row" ng-repeat="(key, companion) in profile_stats.most_frequent_companion | orderObjectBy:'amount':true" class="mrg10b"  ng-if="!$first">
							<div layout="column" flex="45" layout-align="center end">
								<div class="circleBase imgProfile hideScrollbar shadowed-box clickable"  ng-if="user.profile_details.image == ''"  ng-click="goTo('profile')">
									<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[user.uid] || getRandomColor(user.uid)" alt="profile image">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-72">{{user.profile_details.username.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>
								<div class="circleBase imgProfile clickable shadowed-box" layout-align="center center" alt="profile image" back-img="{{user.profile_details.image}}" ng-if="user.profile_details.image != ''" ng-click="goTo('profile')">
								</div>
							</div>
							<div layout="column" flex="10" layout-align="center center">
								<div layout="row">
									<i class="icon-icon size-48 shadowed" md-colors="{color: 'myTheme-accent'}"></i>
								</div>
								<div layout="row">
									{{companion.won}}/{{companion.amount}}
								</div>
							</div>
							<div layout="column" flex="45"  layout-align="center start">
								<div class="circleBase imgProfile hideScrollbar shadowed-box clickable"  ng-if="companion.image == ''"  ng-click="goTo('users/'+companion.key)">
									<div class="circleBase imgProfile" layout-align="center center" " ng-style="randomColors[companion.key] || getRandomColor(companion.key)" alt="profile image">
										<div layout="column" layout-align="center center" class="height100perc white80perc size-48">{{companion.username.substring(0,1).toUpperCase()}}</div>
									</div>
								</div>
								<div class="circleBase imgProfile clickable  shadowed-box" layout-align="center center" alt="profile image" back-img="{{companion.image}}" ng-if="companion.image != ''" ng-click="goTo('users/'+companion.key)">
								</div>

							</div>
						</div>
					</div>
				</md-card-content>	
				<md-card-actions layout="row">
					<div layout="column" flex layout-align="center start">
				  		<md-button  ng-click="goTo('profile/', 1)">See All</md-button>
				  	</div>
				</md-card-actions>
		  </md-card>
		</div>
	</div>

	<div layout="column" flex-xs flex-gt-xs="30" >
		<div layout="row" class="height40perc">
		  <md-card layout="column" flex class="whiteBg" class="height100perc">
			<md-card-title class="height10perc">
			  <md-card-title-text>
				<span class="md-headline">Last 3 contributions</span>
			  </md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" class="overflowScroll height80perc">
				<md-list flex ng-if="hCtrl.templates.length > 0">
					<md-list-item
						class=" md-1-line animate-repeat"                       
						ng-repeat="(key, template) in hCtrl.templates |orderObjectBy: 'inserted_at':true| objLimitTo: 3"
						ng-href="#/boardgames/{{template.boardgame.bggId}}">
						<img ng-src="{{template.boardgame.image}}" class="md-avatar" alt="{{template.boardgame.name}}" />
						<div layout="column">
							<div layout="row">
								<h4> {{template.name}}</h4>
							</div>
						</div>
						<i 
						aria-label="remove favourite"
						ng-if="user.profile_details.favourites[template.boardgame.bggId]" 
						class="icon-heart md-secondary" 
						md-colors="{color: 'myTheme-accent'}"
						ng-click="hCtrl.toggleFavourite(template.boardgame)">
							<md-tooltip md-direction="left" md-delay="200">Remove favourite</md-tooltip>
						</i>
						<i 
						aria-label="add favourite"
						ng-if="!user.profile_details.favourites[template.boardgame.bggId]" 
						class="icon-heart-o md-secondary" 
						md-colors="{color: 'myTheme-accent'}"
						ng-click="hCtrl.toggleFavourite(template.boardgame)">
							<md-tooltip md-direction="left" md-delay="200">Add favourite</md-tooltip>
						</i>
					</md-list-item>
				</md-list>
				<div ng-if="hCtrl.templates.length == 0" layout="column" flex layout-align="center center">
					<div layout="row" class="size-48 mrg20b">;)</div>
					<div layout="row" class="mrg20b"><h3>Help us adding new templates!</h3></div>	
				</div>
			</md-card-content>
			<md-card-actions layout="row">
				<div layout="column" flex layout-align="center start" class="relative">
		  		 	<md-button 
			          		aria-label="Boardgames list" 
			          		class="md-fab md-mini md md-raised md-primary absolute6" 
							ng-click="goTo('templates/')">
			            <i class="icon-plus-1"></i>
			        </md-button>
			  	</div>
				<div layout="column" flex layout-align="center end">
			  		<md-button  ng-click="goTo('templates/')">See All</md-button>
			  	</div>
			</md-card-actions>
		  </md-card>
		</div>
		<div layout="row" class="height5perc">
		</div>
		<div layout="row" class="height55perc">
		  	<md-card layout="column" flex class="whiteBg" class="height100perc">
				<md-card-title class="relative">
					<md-button 
			          		aria-label="Boardgames list" 
			          		class="md-fab md-mini md md-raised md-primary absolute5" 
							 ng-click="showPopup($event, user.uid, 'matches')">
			            <i class="icon-plus-1"></i>
			        </md-button>
				  <md-card-title-text layout-align="center end"  class="height10perc">
					<span class="md-headline">Last 5 matches</span>
				  </md-card-title-text>
				</md-card-title>
				<md-card-content layout="row" class="overflowScroll  height80perc">
					<md-list flex ng-if="(games | keylength) > 0">
						<md-list-item
							class=" md-1-line animate-repeat"                       
							ng-repeat="boardgame in games |orderObjectBy: 'lastMatchTime':true| limitTo: 5"
							ng-href="#/boardgames/{{boardgame.bggId}}">
							<img ng-src="{{boardgame.image}}" class="md-avatar" alt="{{boardgame.name}}" />
							<div layout="column">
								<div layout="row">
									<h4> {{boardgame.name}}</h4>
								</div>
							</div>
							<i 
							aria-label="remove favourite"
							ng-if="user.profile_details.favourites[boardgame.bggId]" 
							class="icon-heart md-secondary" 
							md-colors="{color: 'myTheme-accent'}"
							ng-click="hCtrl.toggleFavourite(boardgame)">
								<md-tooltip md-direction="left" md-delay="200">Remove favourite</md-tooltip>
							</i>
							<i 
							aria-label="add favourite"
							ng-if="!user.profile_details.favourites[boardgame.bggId]" 
							class="icon-heart-o md-secondary" 
							md-colors="{color: 'myTheme-accent'}"
							ng-click="hCtrl.toggleFavourite(boardgame)">
								<md-tooltip md-direction="left" md-delay="200">Add favourite</md-tooltip>
							</i>
						</md-list-item>
					</md-list>
					<div ng-if="(games | keylength) == 0" layout="column" flex layout-align="center center">
						<div layout="row" class="size-72 mrg20b">:(</div>
						<div layout="row" class="mrg20b"><h1>You didn't play any match</h1></div>	
					</div>
				</md-card-content>
				<md-card-actions layout="row"  class="height10perc">
					<div layout="column" flex layout-align="center start">
				  		<md-button  ng-click="goTo('matches/')">See All</md-button>
				  	</div>
				</md-card-actions>
				
		  	</md-card>
		</div>
	</div>
  </md-content>
  
</div>