<div class="container-fluid" layout-padding layout="column">
	<div layout="row" flex="none" class="height300 mrg20b">
		<div layout="column" flex="30">
			<div>
				<div class="circleBase imgBoardgame" layout-align="center center">
					<img src="{{bCtrl.boardgame.img}}"/>
				</div>
			</div>
		</div>
		<div layout="column" flex="70" layout-align="top center"  class="blue-grey">
			<h2 layout="row" > {{bCtrl.boardgame.title}}
			</h2>
			<div layout="row">
			</div>
		</div>
	</div>
	<div layout="row" flex="none">
		<div layout="column" flex="100">
			<div layout="row" flex-sm="none" class="pad10b">
				<h3 class="blue-grey">Match played ({{bCtrl.boardgame.matches.length}})</h3>
			</div>	
			
			<div layout="row" class="overflowScroll height275">			
					<md-list flex>
						<md-list-item
						class=" md-3-line animate-repeat" 
						ng-href="#/matches/{{match.pk}}"
						ng-repeat="match in bCtrl.boardgame.matches | filter:{location:query}" ng-click="null">
							<img ng-src="{{bCtrl.boardgame.thumbnail}}?100" class="md-avatar" alt="{{bCtrl.boardgame.title}}" />
							<div layout="column">
								<div layout="row">
									<h3>Match {{$index+1}}</h3>
								</div>
								<div layout="row" class="size-14">
									<i>{{match.time}} {{match.location}}</i>
								</div>
							</div>
							
						</md-list-item>
				  </md-list>
				</div>
		</div>
	</div>

</div>