<div class="container-fluid pad20l pad20t pad20r" layout="column" ng-cloak>
	<div layout="row" flex="none" class="height300 mrg10b mrg10r">
		<div layout="column" flex="none">
			<div class="circleBase imgBoardgame hideScrollbar shadowed-box">
				<div class="circleBase imgBoardgame" layout-align="center center" back-img="{{bCtrl.boardgame.img}}">
					<div class="circleBase"></div>
				</div>
			</div>
		</div>
		<div layout="column" class="blue-grey pad20l" flex="100">
			<div layout="row" class="shadowed-box whiteBg pad20l mrg10b height60">
				<div layout="column" flex="100"   layout-align="center start">
					<h1> {{bCtrl.boardgame.title}}</h1>
				</div>
				<div layout="column" flex="30"  layout-align="center end">
					<div layout="row">
						<div layout="column" ng-repeat="designer in bCtrl.boardgame.designers | filter:{ name: '!(UNCREDITED)'} | limitTo:3">
							<md-button class="md-primary" ng-click="goTo('designers/'+designer.pk)">
								{{designer.name}}
							</md-button>
						</div>
					</div>
				</div>
			</div>
			<div layout="row">
				<div layout="column" flex="100">
					<div layout="row" class="size-14">
						<div 
							layout="column" 
							flex="30" 
							class="shadowed-box whiteBg pad10l height60 clickable">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-star" md-colors="{color: 'myTheme-accent'}" >
										<md-tooltip md-direction="top" md-delay="200">Average vote</md-tooltip>
									</i>

								</div>
								<div layout="column" flex="80" layout-align="center center" >
									<h2>{{bCtrl.boardgame.average | number:2}}</h2>
								</div>
							</div>
							
						</div>
						<div 
							layout="column" 
							flex="30" 
							class="shadowed-box whiteBg pad10l height60 clickable mrg10l">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-calendar" md-colors="{color: 'myTheme-accent'}" >
										<md-tooltip md-direction="top" md-delay="200">Publishing year</md-tooltip>
									</i>
								</div>
								<div layout="column" flex="80" layout-align="center center" >
									<h2>{{bCtrl.boardgame.yearpublished}}</h2>
								</div>
								
							</div>
						</div>
						<div 
							layout="column" 
							flex="30" 
							class="shadowed-box whiteBg pad10l height60 clickable mrg10l">
							<div layout="row" class="height100perc">
								<div layout="column" flex="20" layout-align="center center" >
									<i class="size-18 icon-hourglass" md-colors="{color: 'myTheme-accent'}" >
										<md-tooltip md-direction="top" md-delay="200">Typical playtime</md-tooltip>
									</i>
								</div>
								<div layout="column" flex="80" layout-align="center center" >
									<h2>{{bCtrl.boardgame.playingtime}} min</h2>
								</div>
							</div>
							
						</div>

						<div 
							layout="column" 
							flex="10" 
							class="shadowed-box whiteBg height60 clickable mrg10l"
							layout-align="center center">
							<i ng-if="bCtrl.isFavourite" 
							class="icon-heart" 
							md-colors="{color: 'myTheme-accent'}" 
							ng-click="bCtrl.toggleFavourites(bCtrl.boardgame.favourite, bCtrl.boardgame.pk, user_pk)">
								<md-tooltip md-direction="top" md-delay="200">Remove favourite</md-tooltip>
							</i>

							<i 
							ng-if="!bCtrl.isFavourite" 
							class="icon-heart-o " 
							md-colors="{color: 'myTheme-accent'}"  
							ng-click="bCtrl.toggleFavourites(bCtrl.boardgame.favourite, bCtrl.boardgame.pk, user_pk)">
								<md-tooltip md-direction="top" md-delay="200">Add favourite</md-tooltip>
							</i>
						</div>

					</div>
				</div>
			</div>
			<div layout="row" class="maxHeight150 mrg10t">
				<div layout="column" flex="80" class=" shadowed-box whiteBg pad20l">
					<div layout="row" class="size-14 maxHeight150 overflowScroll pad20t pad20b">
						<div layout="column" flex="100" ng-bind-html="bCtrl.boardgame.description"></div>
					</div>
				</div>
				<div layout="column" flex="20"  layout-align="center center" class="clickable mrg10l height150 shadowed-box whiteBg overflowScroll">
					<div layout="row" class="size-14 maxHeight150"  
							ng-repeat="category in bCtrl.boardgame.categories | filter:{ name: '!Expansion for Base-game'}">
							<div layout="column" flex="100" layout-align="center center"  class="height50" ng-click="goTo('categories/'+category.pk)">
								{{category.name}}
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div layout="row" flex="none">
		<div layout="column" flex="100">
			<div layout="row" flex-sm="none">
				<h3 class="blue-grey">Match played ({{bCtrl.boardgame.matches.length}})</h3>
			</div>	
			
			<div layout="row" class="overflowScroll height270">
						<md-list flex ng-if="bCtrl.boardgame.matches.length > 0">
							<md-list-item
							class=" md-2-line animate-repeat whiteBg mrg5b mrg5r shadowed-box" 
							ng-href="#/matches/{{match.pk}}"
							ng-repeat="match in bCtrl.boardgame.matches | filter:{location:query}" ng-click="null">
								<img ng-src="{{bCtrl.boardgame.thumbnail}}?100" class="md-avatar" alt="{{bCtrl.boardgame.title}}" />
								<div layout="column">
									<div layout="row">
										<h3 ng-if="match.name.length == 0">Match {{match.pk}}</h3>
										<h3 ng-if="match.name.length > 0">{{match.name}}</h3>
									</div>
									<div layout="row" class="size-14">
										<i>{{match.time | date:"EEEE, MMMM d, y, H:mm in"}} {{match.location}}</i>
									</div>
								</div>
								
							</md-list-item>
					  </md-list>
					  <div layout="column" layout-align="center center" ng-if="bCtrl.boardgame.matches.length == 0" flex="100">
					  	<div layout="row" class="size-72 mrg20b">:(</div>
					  	<div layout="row" class="mrg20b"><h1>Do you like this game? Play it!</h1></div>
					  	<div layout="row" class="blue-grey clickable decoNone" ng-click="showPopup($event, user_pk, 'matches')"><h2><i class="fa fa-plus mrg10r"></i> Add your first match</h2></div>
					  </div>
			</div>
		</div>
	</div>

</div>